html, body, input, textarea, h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

p, span, input, textarea {
  -webkit-font-smoothing: initial; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

a:hover {
  text-decoration: underline; }

ul, li {
  display: block;
  margin: 0;
  padding: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

td, th {
  padding: 0; }

img {
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  display: block; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  display: block;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  border: none;
  outline: none; }

/* T-Row */
.t-row {
  position: relative;
  display: table;
  width: 100%; }

.t-row > .t-cell {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.t-row > .t-cell:last-child {
  padding-right: 0; }

.t-row > .t-cell > .t-cell-frame {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%; }

.t-row > .t-cell.nowrap {
  white-space: nowrap;
  width: 1px; }

.t-row > .t-cell.max-width {
  width: 100%; }

.t-row > .t-cell.nowrap > * {
  white-space: normal; }

.t-row > .t-cell.no-padding {
  padding-right: 0px; }

.t-row > .t-cell .text-ellipsis {
  position: relative; }

.t-row > .t-cell .text-ellipsis::after {
  content: ".";
  color: transparent; }

.t-row > .t-cell .text-ellipsis > * {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.t-row > .t-cell .text-ellipsis.padding-left > * {
  padding-left: 6px; }

.t-row > .t-cell .text-ellipsis.padding-right > * {
  padding-right: 6px; }

/* /T-row */
/* Classes */
.hidden-element {
  display: none !important; }

.hidden-input {
  opacity: 0.001 !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute; }

.nowrap {
  white-space: nowrap !important; }

.normal-wrap {
  white-space: normal !important; }

.align-left {
  text-align: left !important; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.margin-top {
  margin-top: 20px !important; }

.margin-bottom {
  margin-bottom: 20px !important; }

.margin-left {
  margin-left: 20px !important; }

.margin-right {
  margin-right: 20px !important; }

.error-message {
  color: #E74C3C !important; }

.success-message {
  color: #87D37C !important; }

/* /Classes */
/* List */
/* Horizontal List */
.h-list {
  position: relative;
  display: block;
  font-size: 0.01px;
  padding: 0; }

.h-list::after {
  content: " ";
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.h-list > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: initial; }

.h-list.marged-list {
  margin: -6px; }

.h-list.marged-list > li {
  margin: 6px; }

/* /Horizontal List */
/* Button List */
.b-list {
  position: relative;
  display: block;
  font-size: 0.01px;
  padding: 0; }

.b-list::after {
  content: " ";
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.b-list > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: initial; }

.b-list.marged-list {
  margin: -6px; }

.b-list.marged-list > li {
  margin: 6px; }

.b-list.compact-list {
  margin-top: -4px;
  margin-bottom: -4px; }

.b-list.compact-list.marged-list {
  margin-top: -10px;
  margin-bottom: -10px; }

/* /Button List */
/* Icon List */
.i-list {
  position: relative;
  display: block;
  padding: 0; }

.i-list:before,
.i-list:after {
  content: " ";
  display: table; }

.i-list:after {
  clear: both; }

.i-list > li {
  position: relative;
  display: block;
  min-height: 1px;
  float: left; }

.i-list.marged-list {
  margin-left: -6px;
  margin-right: -6px; }

.i-list.marged-list > li {
  margin-left: 6px;
  margin-right: 6px; }

/* /Icon List */
/* Vertical List */
.v-list {
  position: relative;
  display: block;
  padding: 0; }

.v-list > li {
  position: relative;
  display: block; }

.v-list.marged-list {
  margin-top: -6px;
  margin-bottom: -6px; }

.v-list.marged-list > li {
  margin-top: 6px;
  margin-bottom: 6px; }

.v-list.dotted-list > li {
  display: list-item;
  margin-left: 40px; }

/* /Vertical List */
/* /List */
/* Variables */
/* /Variables */
/* Text */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #3C3C3C; }

h1, .title-lg {
  font-size: 26px;
  line-height: 26px;
  font-weight: normal; }

h2, .title-md {
  font-size: 20px;
  line-height: 20px;
  font-weight: normal; }

h3, .title-sm {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold; }

h4, .title-xs {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold; }

h1, .title-lg.marged {
  display: block;
  margin-bottom: 18px; }

h2, .title-md.marged {
  display: block;
  margin-bottom: 14px; }

h3, .title-sm.marged {
  display: block;
  margin-bottom: 10px; }

h4, .title-xs.marged {
  display: block;
  margin-bottom: 8px; }

h1, .title-lg,
h2, .title-md,
h3, .title-sm,
h4, .title-xs {
  -webkit-font-smoothing: antialiased; }

span h1, p h1, span .title-lg, p .title-lg,
span h2, p h2, span .title-md, p .title-md,
span h3, p h3, span .title-sm, p .title-sm,
span h4, p h4, span .title-xs, p .title-xs {
  display: inline; }

p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #3C3C3C; }

p + br,
span + br {
  display: none; }

a {
  color: #5F8BB8; }

a:hover, a:focus {
  color: #5F8BB8;
  text-decoration: underline; }

p.subtle,
span.subtle,
a.subtle {
  font-size: 13px;
  line-height: 16px;
  color: #999999; }

.text-ellipsis > * {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.text-ellipsis.padding-left > * {
  padding-left: 6px; }

.text-ellipsis.padding-right > * {
  padding-right: 6px; }

/* /Text */
.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  /*.container{width:670px;}*/ }

@media (min-width: 992px) {
  .container {
    width: 890px; } }

@media (min-width: 1200px) {
  .container {
    width: 1090px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -5px;
  margin-right: -5px; }

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20,
.col-xs-21,
.col-xs-22,
.col-xs-23,
.col-xs-24 {
  float: left; }

.col-xs-24 {
  width: 100%; }

.col-xs-23 {
  width: 95.83333333%; }

.col-xs-22 {
  width: 91.66666667%; }

.col-xs-21 {
  width: 87.5%; }

.col-xs-20 {
  width: 83.33333333%; }

.col-xs-19 {
  width: 79.16666667%; }

.col-xs-18 {
  width: 75%; }

.col-xs-17 {
  width: 70.83333333%; }

.col-xs-16 {
  width: 66.66666667%; }

.col-xs-15 {
  width: 62.5%; }

.col-xs-14 {
  width: 58.33333333%; }

.col-xs-13 {
  width: 54.16666667%; }

.col-xs-12 {
  width: 50%; }

.col-xs-11 {
  width: 45.83333333%; }

.col-xs-10 {
  width: 41.66666667%; }

.col-xs-9 {
  width: 37.5%; }

.col-xs-8 {
  width: 33.33333333%; }

.col-xs-7 {
  width: 29.16666667%; }

.col-xs-6 {
  width: 25%; }

.col-xs-5 {
  width: 20.83333333%; }

.col-xs-4 {
  width: 16.66666667%; }

.col-xs-3 {
  width: 12.5%; }

.col-xs-2 {
  width: 8.33333333%; }

.col-xs-1 {
  width: 4.16666667%; }

.col-xs-pull-24 {
  right: 100%; }

.col-xs-pull-23 {
  right: 95.83333333%; }

.col-xs-pull-22 {
  right: 91.66666667%; }

.col-xs-pull-21 {
  right: 87.5%; }

.col-xs-pull-20 {
  right: 83.33333333%; }

.col-xs-pull-19 {
  right: 79.16666667%; }

.col-xs-pull-18 {
  right: 75%; }

.col-xs-pull-17 {
  right: 70.83333333%; }

.col-xs-pull-16 {
  right: 66.66666667%; }

.col-xs-pull-15 {
  right: 62.5%; }

.col-xs-pull-14 {
  right: 58.33333333%; }

.col-xs-pull-13 {
  right: 54.16666667%; }

.col-xs-pull-12 {
  right: 50%; }

.col-xs-pull-11 {
  right: 45.83333333%; }

.col-xs-pull-10 {
  right: 41.66666667%; }

.col-xs-pull-9 {
  right: 37.5%; }

.col-xs-pull-8 {
  right: 33.33333333%; }

.col-xs-pull-7 {
  right: 29.16666667%; }

.col-xs-pull-6 {
  right: 25%; }

.col-xs-pull-5 {
  right: 20.83333333%; }

.col-xs-pull-4 {
  right: 16.66666667%; }

.col-xs-pull-3 {
  right: 12.5%; }

.col-xs-pull-2 {
  right: 8.33333333%; }

.col-xs-pull-1 {
  right: 4.16666667%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-24 {
  left: 100%; }

.col-xs-push-23 {
  left: 95.83333333%; }

.col-xs-push-22 {
  left: 91.66666667%; }

.col-xs-push-21 {
  left: 87.5%; }

.col-xs-push-20 {
  left: 83.33333333%; }

.col-xs-push-19 {
  left: 79.16666667%; }

.col-xs-push-18 {
  left: 75%; }

.col-xs-push-17 {
  left: 70.83333333%; }

.col-xs-push-16 {
  left: 66.66666667%; }

.col-xs-push-15 {
  left: 62.5%; }

.col-xs-push-14 {
  left: 58.33333333%; }

.col-xs-push-13 {
  left: 54.16666667%; }

.col-xs-push-12 {
  left: 50%; }

.col-xs-push-11 {
  left: 45.83333333%; }

.col-xs-push-10 {
  left: 41.66666667%; }

.col-xs-push-9 {
  left: 37.5%; }

.col-xs-push-8 {
  left: 33.33333333%; }

.col-xs-push-7 {
  left: 29.16666667%; }

.col-xs-push-6 {
  left: 25%; }

.col-xs-push-5 {
  left: 20.83333333%; }

.col-xs-push-4 {
  left: 16.66666667%; }

.col-xs-push-3 {
  left: 12.5%; }

.col-xs-push-2 {
  left: 8.33333333%; }

.col-xs-push-1 {
  left: 4.16666667%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-24 {
  margin-left: 100%; }

.col-xs-offset-23 {
  margin-left: 95.83333333%; }

.col-xs-offset-22 {
  margin-left: 91.66666667%; }

.col-xs-offset-21 {
  margin-left: 87.5%; }

.col-xs-offset-20 {
  margin-left: 83.33333333%; }

.col-xs-offset-19 {
  margin-left: 79.16666667%; }

.col-xs-offset-18 {
  margin-left: 75%; }

.col-xs-offset-17 {
  margin-left: 70.83333333%; }

.col-xs-offset-16 {
  margin-left: 66.66666667%; }

.col-xs-offset-15 {
  margin-left: 62.5%; }

.col-xs-offset-14 {
  margin-left: 58.33333333%; }

.col-xs-offset-13 {
  margin-left: 54.16666667%; }

.col-xs-offset-12 {
  margin-left: 50%; }

.col-xs-offset-11 {
  margin-left: 45.83333333%; }

.col-xs-offset-10 {
  margin-left: 41.66666667%; }

.col-xs-offset-9 {
  margin-left: 37.5%; }

.col-xs-offset-8 {
  margin-left: 33.33333333%; }

.col-xs-offset-7 {
  margin-left: 29.16666667%; }

.col-xs-offset-6 {
  margin-left: 25%; }

.col-xs-offset-5 {
  margin-left: 20.83333333%; }

.col-xs-offset-4 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 12.5%; }

.col-xs-offset-2 {
  margin-left: 8.33333333%; }

.col-xs-offset-1 {
  margin-left: 4.16666667%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-13,
  .col-sm-14,
  .col-sm-15,
  .col-sm-16,
  .col-sm-17,
  .col-sm-18,
  .col-sm-19,
  .col-sm-20,
  .col-sm-21,
  .col-sm-22,
  .col-sm-23,
  .col-sm-24 {
    float: left; }
  .col-sm-24 {
    width: 100%; }
  .col-sm-23 {
    width: 95.83333333%; }
  .col-sm-22 {
    width: 91.66666667%; }
  .col-sm-21 {
    width: 87.5%; }
  .col-sm-20 {
    width: 83.33333333%; }
  .col-sm-19 {
    width: 79.16666667%; }
  .col-sm-18 {
    width: 75%; }
  .col-sm-17 {
    width: 70.83333333%; }
  .col-sm-16 {
    width: 66.66666667%; }
  .col-sm-15 {
    width: 62.5%; }
  .col-sm-14 {
    width: 58.33333333%; }
  .col-sm-13 {
    width: 54.16666667%; }
  .col-sm-12 {
    width: 50%; }
  .col-sm-11 {
    width: 45.83333333%; }
  .col-sm-10 {
    width: 41.66666667%; }
  .col-sm-9 {
    width: 37.5%; }
  .col-sm-8 {
    width: 33.33333333%; }
  .col-sm-7 {
    width: 29.16666667%; }
  .col-sm-6 {
    width: 25%; }
  .col-sm-5 {
    width: 20.83333333%; }
  .col-sm-4 {
    width: 16.66666667%; }
  .col-sm-3 {
    width: 12.5%; }
  .col-sm-2 {
    width: 8.33333333%; }
  .col-sm-1 {
    width: 4.16666667%; }
  .col-sm-pull-24 {
    right: 100%; }
  .col-sm-pull-23 {
    right: 95.83333333%; }
  .col-sm-pull-22 {
    right: 91.66666667%; }
  .col-sm-pull-21 {
    right: 87.5%; }
  .col-sm-pull-20 {
    right: 83.33333333%; }
  .col-sm-pull-19 {
    right: 79.16666667%; }
  .col-sm-pull-18 {
    right: 75%; }
  .col-sm-pull-17 {
    right: 70.83333333%; }
  .col-sm-pull-16 {
    right: 66.66666667%; }
  .col-sm-pull-15 {
    right: 62.5%; }
  .col-sm-pull-14 {
    right: 58.33333333%; }
  .col-sm-pull-13 {
    right: 54.16666667%; }
  .col-sm-pull-12 {
    right: 50%; }
  .col-sm-pull-11 {
    right: 45.83333333%; }
  .col-sm-pull-10 {
    right: 41.66666667%; }
  .col-sm-pull-9 {
    right: 37.5%; }
  .col-sm-pull-8 {
    right: 33.33333333%; }
  .col-sm-pull-7 {
    right: 29.16666667%; }
  .col-sm-pull-6 {
    right: 25%; }
  .col-sm-pull-5 {
    right: 20.83333333%; }
  .col-sm-pull-4 {
    right: 16.66666667%; }
  .col-sm-pull-3 {
    right: 12.5%; }
  .col-sm-pull-2 {
    right: 8.33333333%; }
  .col-sm-pull-1 {
    right: 4.16666667%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-24 {
    left: 100%; }
  .col-sm-push-23 {
    left: 95.83333333%; }
  .col-sm-push-22 {
    left: 91.66666667%; }
  .col-sm-push-21 {
    left: 87.5%; }
  .col-sm-push-20 {
    left: 83.33333333%; }
  .col-sm-push-19 {
    left: 79.16666667%; }
  .col-sm-push-18 {
    left: 75%; }
  .col-sm-push-17 {
    left: 70.83333333%; }
  .col-sm-push-16 {
    left: 66.66666667%; }
  .col-sm-push-15 {
    left: 62.5%; }
  .col-sm-push-14 {
    left: 58.33333333%; }
  .col-sm-push-13 {
    left: 54.16666667%; }
  .col-sm-push-12 {
    left: 50%; }
  .col-sm-push-11 {
    left: 45.83333333%; }
  .col-sm-push-10 {
    left: 41.66666667%; }
  .col-sm-push-9 {
    left: 37.5%; }
  .col-sm-push-8 {
    left: 33.33333333%; }
  .col-sm-push-7 {
    left: 29.16666667%; }
  .col-sm-push-6 {
    left: 25%; }
  .col-sm-push-5 {
    left: 20.83333333%; }
  .col-sm-push-4 {
    left: 16.66666667%; }
  .col-sm-push-3 {
    left: 12.5%; }
  .col-sm-push-2 {
    left: 8.33333333%; }
  .col-sm-push-1 {
    left: 4.16666667%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-24 {
    margin-left: 100%; }
  .col-sm-offset-23 {
    margin-left: 95.83333333%; }
  .col-sm-offset-22 {
    margin-left: 91.66666667%; }
  .col-sm-offset-21 {
    margin-left: 87.5%; }
  .col-sm-offset-20 {
    margin-left: 83.33333333%; }
  .col-sm-offset-19 {
    margin-left: 79.16666667%; }
  .col-sm-offset-18 {
    margin-left: 75%; }
  .col-sm-offset-17 {
    margin-left: 70.83333333%; }
  .col-sm-offset-16 {
    margin-left: 66.66666667%; }
  .col-sm-offset-15 {
    margin-left: 62.5%; }
  .col-sm-offset-14 {
    margin-left: 58.33333333%; }
  .col-sm-offset-13 {
    margin-left: 54.16666667%; }
  .col-sm-offset-12 {
    margin-left: 50%; }
  .col-sm-offset-11 {
    margin-left: 45.83333333%; }
  .col-sm-offset-10 {
    margin-left: 41.66666667%; }
  .col-sm-offset-9 {
    margin-left: 37.5%; }
  .col-sm-offset-8 {
    margin-left: 33.33333333%; }
  .col-sm-offset-7 {
    margin-left: 29.16666667%; }
  .col-sm-offset-6 {
    margin-left: 25%; }
  .col-sm-offset-5 {
    margin-left: 20.83333333%; }
  .col-sm-offset-4 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 12.5%; }
  .col-sm-offset-2 {
    margin-left: 8.33333333%; }
  .col-sm-offset-1 {
    margin-left: 4.16666667%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-13,
  .col-md-14,
  .col-md-15,
  .col-md-16,
  .col-md-17,
  .col-md-18,
  .col-md-19,
  .col-md-20,
  .col-md-21,
  .col-md-22,
  .col-md-23,
  .col-md-24 {
    float: left; }
  .col-md-24 {
    width: 100%; }
  .col-md-23 {
    width: 95.83333333%; }
  .col-md-22 {
    width: 91.66666667%; }
  .col-md-21 {
    width: 87.5%; }
  .col-md-20 {
    width: 83.33333333%; }
  .col-md-19 {
    width: 79.16666667%; }
  .col-md-18 {
    width: 75%; }
  .col-md-17 {
    width: 70.83333333%; }
  .col-md-16 {
    width: 66.66666667%; }
  .col-md-15 {
    width: 62.5%; }
  .col-md-14 {
    width: 58.33333333%; }
  .col-md-13 {
    width: 54.16666667%; }
  .col-md-12 {
    width: 50%; }
  .col-md-11 {
    width: 45.83333333%; }
  .col-md-10 {
    width: 41.66666667%; }
  .col-md-9 {
    width: 37.5%; }
  .col-md-8 {
    width: 33.33333333%; }
  .col-md-7 {
    width: 29.16666667%; }
  .col-md-6 {
    width: 25%; }
  .col-md-5 {
    width: 20.83333333%; }
  .col-md-4 {
    width: 16.66666667%; }
  .col-md-3 {
    width: 12.5%; }
  .col-md-2 {
    width: 8.33333333%; }
  .col-md-1 {
    width: 4.16666667%; }
  .col-md-pull-24 {
    right: 100%; }
  .col-md-pull-23 {
    right: 95.83333333%; }
  .col-md-pull-22 {
    right: 91.66666667%; }
  .col-md-pull-21 {
    right: 87.5%; }
  .col-md-pull-20 {
    right: 83.33333333%; }
  .col-md-pull-19 {
    right: 79.16666667%; }
  .col-md-pull-18 {
    right: 75%; }
  .col-md-pull-17 {
    right: 70.83333333%; }
  .col-md-pull-16 {
    right: 66.66666667%; }
  .col-md-pull-15 {
    right: 62.5%; }
  .col-md-pull-14 {
    right: 58.33333333%; }
  .col-md-pull-13 {
    right: 54.16666667%; }
  .col-md-pull-12 {
    right: 50%; }
  .col-md-pull-11 {
    right: 45.83333333%; }
  .col-md-pull-10 {
    right: 41.66666667%; }
  .col-md-pull-9 {
    right: 37.5%; }
  .col-md-pull-8 {
    right: 33.33333333%; }
  .col-md-pull-7 {
    right: 29.16666667%; }
  .col-md-pull-6 {
    right: 25%; }
  .col-md-pull-5 {
    right: 20.83333333%; }
  .col-md-pull-4 {
    right: 16.66666667%; }
  .col-md-pull-3 {
    right: 12.5%; }
  .col-md-pull-2 {
    right: 8.33333333%; }
  .col-md-pull-1 {
    right: 4.16666667%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-24 {
    left: 100%; }
  .col-md-push-23 {
    left: 95.83333333%; }
  .col-md-push-22 {
    left: 91.66666667%; }
  .col-md-push-21 {
    left: 87.5%; }
  .col-md-push-20 {
    left: 83.33333333%; }
  .col-md-push-19 {
    left: 79.16666667%; }
  .col-md-push-18 {
    left: 75%; }
  .col-md-push-17 {
    left: 70.83333333%; }
  .col-md-push-16 {
    left: 66.66666667%; }
  .col-md-push-15 {
    left: 62.5%; }
  .col-md-push-14 {
    left: 58.33333333%; }
  .col-md-push-13 {
    left: 54.16666667%; }
  .col-md-push-12 {
    left: 50%; }
  .col-md-push-11 {
    left: 45.83333333%; }
  .col-md-push-10 {
    left: 41.66666667%; }
  .col-md-push-9 {
    left: 37.5%; }
  .col-md-push-8 {
    left: 33.33333333%; }
  .col-md-push-7 {
    left: 29.16666667%; }
  .col-md-push-6 {
    left: 25%; }
  .col-md-push-5 {
    left: 20.83333333%; }
  .col-md-push-4 {
    left: 16.66666667%; }
  .col-md-push-3 {
    left: 12.5%; }
  .col-md-push-2 {
    left: 8.33333333%; }
  .col-md-push-1 {
    left: 4.16666667%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-24 {
    margin-left: 100%; }
  .col-md-offset-23 {
    margin-left: 95.83333333%; }
  .col-md-offset-22 {
    margin-left: 91.66666667%; }
  .col-md-offset-21 {
    margin-left: 87.5%; }
  .col-md-offset-20 {
    margin-left: 83.33333333%; }
  .col-md-offset-19 {
    margin-left: 79.16666667%; }
  .col-md-offset-18 {
    margin-left: 75%; }
  .col-md-offset-17 {
    margin-left: 70.83333333%; }
  .col-md-offset-16 {
    margin-left: 66.66666667%; }
  .col-md-offset-15 {
    margin-left: 62.5%; }
  .col-md-offset-14 {
    margin-left: 58.33333333%; }
  .col-md-offset-13 {
    margin-left: 54.16666667%; }
  .col-md-offset-12 {
    margin-left: 50%; }
  .col-md-offset-11 {
    margin-left: 45.83333333%; }
  .col-md-offset-10 {
    margin-left: 41.66666667%; }
  .col-md-offset-9 {
    margin-left: 37.5%; }
  .col-md-offset-8 {
    margin-left: 33.33333333%; }
  .col-md-offset-7 {
    margin-left: 29.16666667%; }
  .col-md-offset-6 {
    margin-left: 25%; }
  .col-md-offset-5 {
    margin-left: 20.83333333%; }
  .col-md-offset-4 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 12.5%; }
  .col-md-offset-2 {
    margin-left: 8.33333333%; }
  .col-md-offset-1 {
    margin-left: 4.16666667%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-13,
  .col-lg-14,
  .col-lg-15,
  .col-lg-16,
  .col-lg-17,
  .col-lg-18,
  .col-lg-19,
  .col-lg-20,
  .col-lg-21,
  .col-lg-22,
  .col-lg-23,
  .col-lg-24 {
    float: left; }
  .col-lg-24 {
    width: 100%; }
  .col-lg-23 {
    width: 95.83333333%; }
  .col-lg-22 {
    width: 91.66666667%; }
  .col-lg-21 {
    width: 87.5%; }
  .col-lg-20 {
    width: 83.33333333%; }
  .col-lg-19 {
    width: 79.16666667%; }
  .col-lg-18 {
    width: 75%; }
  .col-lg-17 {
    width: 70.83333333%; }
  .col-lg-16 {
    width: 66.66666667%; }
  .col-lg-15 {
    width: 62.5%; }
  .col-lg-14 {
    width: 58.33333333%; }
  .col-lg-13 {
    width: 54.16666667%; }
  .col-lg-12 {
    width: 50%; }
  .col-lg-11 {
    width: 45.83333333%; }
  .col-lg-10 {
    width: 41.66666667%; }
  .col-lg-9 {
    width: 37.5%; }
  .col-lg-8 {
    width: 33.33333333%; }
  .col-lg-7 {
    width: 29.16666667%; }
  .col-lg-6 {
    width: 25%; }
  .col-lg-5 {
    width: 20.83333333%; }
  .col-lg-4 {
    width: 16.66666667%; }
  .col-lg-3 {
    width: 12.5%; }
  .col-lg-2 {
    width: 8.33333333%; }
  .col-lg-1 {
    width: 4.16666667%; }
  .col-lg-pull-24 {
    right: 100%; }
  .col-lg-pull-23 {
    right: 95.83333333%; }
  .col-lg-pull-22 {
    right: 91.66666667%; }
  .col-lg-pull-21 {
    right: 87.5%; }
  .col-lg-pull-20 {
    right: 83.33333333%; }
  .col-lg-pull-19 {
    right: 79.16666667%; }
  .col-lg-pull-18 {
    right: 75%; }
  .col-lg-pull-17 {
    right: 70.83333333%; }
  .col-lg-pull-16 {
    right: 66.66666667%; }
  .col-lg-pull-15 {
    right: 62.5%; }
  .col-lg-pull-14 {
    right: 58.33333333%; }
  .col-lg-pull-13 {
    right: 54.16666667%; }
  .col-lg-pull-12 {
    right: 50%; }
  .col-lg-pull-11 {
    right: 45.83333333%; }
  .col-lg-pull-10 {
    right: 41.66666667%; }
  .col-lg-pull-9 {
    right: 37.5%; }
  .col-lg-pull-8 {
    right: 33.33333333%; }
  .col-lg-pull-7 {
    right: 29.16666667%; }
  .col-lg-pull-6 {
    right: 25%; }
  .col-lg-pull-5 {
    right: 20.83333333%; }
  .col-lg-pull-4 {
    right: 16.66666667%; }
  .col-lg-pull-3 {
    right: 12.5%; }
  .col-lg-pull-2 {
    right: 8.33333333%; }
  .col-lg-pull-1 {
    right: 4.16666667%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-24 {
    left: 100%; }
  .col-lg-push-23 {
    left: 95.83333333%; }
  .col-lg-push-22 {
    left: 91.66666667%; }
  .col-lg-push-21 {
    left: 87.5%; }
  .col-lg-push-20 {
    left: 83.33333333%; }
  .col-lg-push-19 {
    left: 79.16666667%; }
  .col-lg-push-18 {
    left: 75%; }
  .col-lg-push-17 {
    left: 70.83333333%; }
  .col-lg-push-16 {
    left: 66.66666667%; }
  .col-lg-push-15 {
    left: 62.5%; }
  .col-lg-push-14 {
    left: 58.33333333%; }
  .col-lg-push-13 {
    left: 54.16666667%; }
  .col-lg-push-12 {
    left: 50%; }
  .col-lg-push-11 {
    left: 45.83333333%; }
  .col-lg-push-10 {
    left: 41.66666667%; }
  .col-lg-push-9 {
    left: 37.5%; }
  .col-lg-push-8 {
    left: 33.33333333%; }
  .col-lg-push-7 {
    left: 29.16666667%; }
  .col-lg-push-6 {
    left: 25%; }
  .col-lg-push-5 {
    left: 20.83333333%; }
  .col-lg-push-4 {
    left: 16.66666667%; }
  .col-lg-push-3 {
    left: 12.5%; }
  .col-lg-push-2 {
    left: 8.33333333%; }
  .col-lg-push-1 {
    left: 4.16666667%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-24 {
    margin-left: 100%; }
  .col-lg-offset-23 {
    margin-left: 95.83333333%; }
  .col-lg-offset-22 {
    margin-left: 91.66666667%; }
  .col-lg-offset-21 {
    margin-left: 87.5%; }
  .col-lg-offset-20 {
    margin-left: 83.33333333%; }
  .col-lg-offset-19 {
    margin-left: 79.16666667%; }
  .col-lg-offset-18 {
    margin-left: 75%; }
  .col-lg-offset-17 {
    margin-left: 70.83333333%; }
  .col-lg-offset-16 {
    margin-left: 66.66666667%; }
  .col-lg-offset-15 {
    margin-left: 62.5%; }
  .col-lg-offset-14 {
    margin-left: 58.33333333%; }
  .col-lg-offset-13 {
    margin-left: 54.16666667%; }
  .col-lg-offset-12 {
    margin-left: 50%; }
  .col-lg-offset-11 {
    margin-left: 45.83333333%; }
  .col-lg-offset-10 {
    margin-left: 41.66666667%; }
  .col-lg-offset-9 {
    margin-left: 37.5%; }
  .col-lg-offset-8 {
    margin-left: 33.33333333%; }
  .col-lg-offset-7 {
    margin-left: 29.16666667%; }
  .col-lg-offset-6 {
    margin-left: 25%; }
  .col-lg-offset-5 {
    margin-left: 20.83333333%; }
  .col-lg-offset-4 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 12.5%; }
  .col-lg-offset-2 {
    margin-left: 8.33333333%; }
  .col-lg-offset-1 {
    margin-left: 4.16666667%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

/* Variables */
/* /Variables */
/* BUTTON */
.btn {
  position: relative;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #3C3C3C; }
  .btn.btn-white, .btn.btn-blue, .btn.btn-link {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap; }
    .btn.btn-white.small, .btn.btn-blue.small, .btn.btn-link.small {
      font-size: 12px;
      line-height: 12px; }
    .btn.btn-white.disabled, .btn.btn-white.loading, .btn.btn-blue.disabled, .btn.btn-blue.loading, .btn.btn-link.disabled, .btn.btn-link.loading {
      cursor: default; }
  .btn.btn-white, .btn.btn-blue {
    padding: 7px 10px;
    border-radius: 3px; }
    .btn.btn-white.small, .btn.btn-blue.small {
      padding: 5px 7px;
      border-radius: 2px; }
    .btn.btn-white.btn-dropdown, .btn.btn-blue.btn-dropdown {
      padding-right: 23px; }
      .btn.btn-white.btn-dropdown::after, .btn.btn-blue.btn-dropdown::after {
        margin: 7px 10px 7px 0; }
      .btn.btn-white.btn-dropdown.small, .btn.btn-blue.btn-dropdown.small {
        padding-right: 20px; }
        .btn.btn-white.btn-dropdown.small::after, .btn.btn-blue.btn-dropdown.small::after {
          margin: 4px 7px 4px 0; }
  .btn.btn-white {
    background: #FFF;
    border: 1px solid #D3D3D3; }
    .btn.btn-white.btn-dropdown::after {
      content: " ";
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2; }
    .btn.btn-white.disabled {
      color: #C3C3C3;
      background: #F6F6F6; }
      .btn.btn-white.disabled.btn-dropdown::after {
        opacity: 0.4; }
    .btn.btn-white.loading {
      position: relative;
      cursor: default; }
      .btn.btn-white.loading *, .btn.btn-white.loading.btn-dropdown::after {
        visibility: hidden; }
      .btn.btn-white.loading::before {
        content: '';
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -8px;
        visibility: visible; }
  .btn.btn-blue {
    color: #FFFFFF;
    background: #5F8BB8; }
    .btn.btn-blue.btn-dropdown::after {
      content: " ";
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2; }
    .btn.btn-blue.disabled {
      color: #D0DFF2;
      background: #7FA0C2; }
      .btn.btn-blue.disabled.btn-dropdown::after {
        opacity: 0.7; }
    .btn.btn-blue.loading {
      position: relative;
      cursor: default; }
      .btn.btn-blue.loading *, .btn.btn-blue.loading.btn-dropdown::after {
        visibility: hidden; }
      .btn.btn-blue.loading::before {
        content: '';
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -8px;
        visibility: visible; }
  .btn.btn-link {
    padding: 8px 0; }
    .btn.btn-link:hover {
      text-decoration: underline; }
    .btn.btn-link.small {
      padding: 6px 0; }
    .btn.btn-link.btn-dropdown {
      padding-right: 13px; }
      .btn.btn-link.btn-dropdown::after {
        content: " ";
        color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin: 8px 0; }
      .btn.btn-link.btn-dropdown.small::after {
        margin: 5px 0; }
    .btn.btn-link.disabled {
      color: #C3C3C3;
      text-decoration: none; }
      .btn.btn-link.disabled.btn-dropdown::after {
        opacity: 0.4; }
    .btn.btn-link.loading {
      position: relative;
      border: 1px solid #DDD;
      border-radius: 2px;
      padding: 2px 0;
      margin: 5px 0;
      cursor: default;
      text-decoration: none; }
      .btn.btn-link.loading.small {
        padding: 2px 0;
        margin: 3px 0; }
      .btn.btn-link.loading *, .btn.btn-link.loading.btn-dropdown::after {
        visibility: hidden; }
      .btn.btn-link.loading::before {
        content: '';
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -8px;
        visibility: visible; }
  .btn.btn-blank:hover {
    text-decoration: underline; }
  .btn.btn-blank.btn-dropdown {
    padding-right: 13px; }
    .btn.btn-blank.btn-dropdown::after {
      content: " ";
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      margin: 0; }
  .btn.btn-blank.disabled {
    color: #C3C3C3;
    text-decoration: none; }
    .btn.btn-blank.disabled.btn-dropdown::after {
      opacity: 0.4; }
  .btn.btn-blank.loading {
    position: relative;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 2px 0;
    cursor: default;
    text-decoration: none; }
    .btn.btn-blank.loading *, .btn.btn-blank.loading.btn-dropdown::after {
      visibility: hidden; }
    .btn.btn-blank.loading::before {
      content: '';
      color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -8px;
      visibility: visible; }

.btn-group {
  margin: -5px; }
  .btn-group .btn {
    display: inline-block;
    margin: 5px; }

.btn-list {
  overflow: hidden; }
  .btn-list .btn-list-item {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 10px; }
    .btn-list .btn-list-item:hover {
      background: #F7F7F7; }
    .btn-list .btn-list-item:active {
      background: #F0F0F0; }
    .btn-list .btn-list-item.active {
      background: #F3F9FF; }
    .btn-list .btn-list-item.loading::after {
      content: '';
      color: transparent;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -5px; }
    .btn-list .btn-list-item.readonly {
      cursor: default; }
      .btn-list .btn-list-item.readonly:hover {
        background: none; }
  .btn-list.separated-by-border .btn-list-item {
    border-top: 1px solid #EBEBEB; }
  .btn-list.separated-by-border .btn-list-item:first-child {
    border-top: none; }
  .btn-list.small .btn-list-item {
    padding: 2px 10px; }

/* /BUTTON */
/* Variables */
/* /Variables */
/* NAVIGATION */
.v-nav-list > .v-nav-item {
  background: #FFF;
  border-top: 1px solid #EBEBEB;
  padding: 9px 15px; }
  .v-nav-list > .v-nav-item:first-child {
    border-top: none; }
  .v-nav-list > .v-nav-item.active {
    background: #FFF;
    color: #5F8BB8;
    font-weight: 600;
    border-left: 3px solid #5F8BB8; }
  .v-nav-list > .v-nav-item:hover {
    background: #F7F7F7; }
  .v-nav-list > .v-nav-item:active {
    background: #F0F0F0; }

.h-nav-list {
  padding: 15px 0; }
  .h-nav-list > li {
    border-left: 1px solid #EEE; }
    .h-nav-list > li:last-child {
      border-right: 1px solid #EEE; }
    .h-nav-list > li > .h-nav-item {
      position: relative;
      display: block;
      padding: 2px 20px;
      margin: -2px -1px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #555;
      text-decoration: none; }
      .h-nav-list > li > .h-nav-item.active {
        font-weight: 600; }
        .h-nav-list > li > .h-nav-item.active::after {
          content: ".";
          color: transparent;
          display: block;
          position: relative;
          bottom: -15px;
          width: auto;
          height: 2px;
          margin-top: -2px;
          background: #5F8BB8; }
    .h-nav-list > li:hover {
      border-left-color: transparent;
      border-right-color: transparent; }
      .h-nav-list > li:hover > .h-nav-item {
        background: #F7F7F7;
        border-radius: 2px; }
      .h-nav-list > li:hover + li {
        border-left-color: transparent; }
  .h-nav-list.dark > li {
    border-left-color: #DDD; }
    .h-nav-list.dark > li:last-child {
      border-right-color: #DDD; }
    .h-nav-list.dark > li:hover > .h-nav-item {
      background: #E6E8EA; }
  .h-nav-list.without-border > li:first-child {
    border-left-color: transparent; }
  .h-nav-list.without-border > li:last-child {
    border-right-color: transparent; }

/* /NAVIGATION */
/* Variables */
/* /Variables */
/* ICON */
.icn, .btn.btn-white.btn-dropdown::after, .btn.btn-white.loading::before, .btn.btn-blue.btn-dropdown::after, .btn.btn-blue.loading::before, .btn.btn-link.btn-dropdown::after, .btn.btn-link.loading::before, .btn.btn-blank.btn-dropdown::after, .btn.btn-blank.loading::before, .btn-list .btn-list-item.loading::after, .form-share-dropdown .btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .btn.btn-list-item.selected::after {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center center; }

.icn.icn-share-button-workspace, .icn-share-button-workspace.btn.btn-white.btn-dropdown::after, .icn-share-button-workspace.btn.btn-white.loading::before, .icn-share-button-workspace.btn.btn-blue.btn-dropdown::after, .icn-share-button-workspace.btn.btn-blue.loading::before, .icn-share-button-workspace.btn.btn-link.btn-dropdown::after, .icn-share-button-workspace.btn.btn-link.loading::before, .icn-share-button-workspace.btn.btn-blank.btn-dropdown::after, .icn-share-button-workspace.btn.btn-blank.loading::before, .btn-list .icn-share-button-workspace.btn-list-item.loading::after, .form-share-dropdown .btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-share-button-workspace.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-share-button-workspace.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-share-button-workspace.btn.btn-list-item.selected::after {
  background-image: url("../img/share-button-workspace-icon.png");
  background-size: auto 12px;
  width: 18px;
  height: 14px;
  margin-top: -1px; }

.icn.icn-share-button-workspace-light, .icn-share-button-workspace-light.btn.btn-white.btn-dropdown::after, .icn-share-button-workspace-light.btn.btn-white.loading::before, .icn-share-button-workspace-light.btn.btn-blue.btn-dropdown::after, .icn-share-button-workspace-light.btn.btn-blue.loading::before, .icn-share-button-workspace-light.btn.btn-link.btn-dropdown::after, .icn-share-button-workspace-light.btn.btn-link.loading::before, .icn-share-button-workspace-light.btn.btn-blank.btn-dropdown::after, .icn-share-button-workspace-light.btn.btn-blank.loading::before, .btn-list .icn-share-button-workspace-light.btn-list-item.loading::after, .form-share-dropdown .icn-share-button-workspace-light.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-share-button-workspace-light.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-share-button-workspace-light.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-share-button-workspace-light.btn.btn-list-item.selected::after {
  background-image: url("../img/share-button-workspace-icon.png");
  background-size: auto 12px;
  width: 18px;
  height: 14px;
  margin-top: -1px;
  opacity: 0.7; }

.icn.icn-share-button-owner, .icn-share-button-owner.btn.btn-white.btn-dropdown::after, .icn-share-button-owner.btn.btn-white.loading::before, .icn-share-button-owner.btn.btn-blue.btn-dropdown::after, .icn-share-button-owner.btn.btn-blue.loading::before, .icn-share-button-owner.btn.btn-link.btn-dropdown::after, .icn-share-button-owner.btn.btn-link.loading::before, .icn-share-button-owner.btn.btn-blank.btn-dropdown::after, .icn-share-button-owner.btn.btn-blank.loading::before, .btn-list .icn-share-button-owner.btn-list-item.loading::after, .form-share-dropdown .icn-share-button-owner.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-share-button-owner.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-share-button-owner.btn.btn-list-item.selected::after {
  background-image: url("../img/share-button-owner-icon.png");
  background-size: auto 12px;
  width: 12px;
  height: 14px; }

.icn.icn-share-button-custom, .icn-share-button-custom.btn.btn-white.btn-dropdown::after, .icn-share-button-custom.btn.btn-white.loading::before, .icn-share-button-custom.btn.btn-blue.btn-dropdown::after, .icn-share-button-custom.btn.btn-blue.loading::before, .icn-share-button-custom.btn.btn-link.btn-dropdown::after, .icn-share-button-custom.btn.btn-link.loading::before, .icn-share-button-custom.btn.btn-blank.btn-dropdown::after, .icn-share-button-custom.btn.btn-blank.loading::before, .btn-list .icn-share-button-custom.btn-list-item.loading::after, .form-share-dropdown .icn-share-button-custom.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-share-button-custom.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-share-button-custom.btn.btn-list-item.selected::after {
  background-image: url("../img/share-button-custom-icon.png");
  background-size: auto 12px;
  width: 12px;
  height: 14px; }

.icn.icn-arrow-down, .btn.btn-white.btn-dropdown::after, .icn-arrow-down.btn.btn-white.loading::before, .icn-arrow-down.btn.btn-blue.btn-dropdown::after, .icn-arrow-down.btn.btn-blue.loading::before, .btn.btn-link.btn-dropdown::after, .icn-arrow-down.btn.btn-link.loading::before, .btn.btn-blank.btn-dropdown::after, .icn-arrow-down.btn.btn-blank.loading::before, .btn-list .icn-arrow-down.btn-list-item.loading::after, .form-share-dropdown .icn-arrow-down.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-arrow-down.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-arrow-down.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-arrow-down.btn.btn-list-item.selected::after {
  background-image: url("../img/arrow-down-icon.png");
  background-size: auto 4px;
  width: 7px;
  height: 14px; }

.icn.icn-arrow-down-white, .icn-arrow-down-white.btn.btn-white.btn-dropdown::after, .icn-arrow-down-white.btn.btn-white.loading::before, .btn.btn-blue.btn-dropdown::after, .icn-arrow-down-white.btn.btn-blue.loading::before, .icn-arrow-down-white.btn.btn-link.btn-dropdown::after, .icn-arrow-down-white.btn.btn-link.loading::before, .icn-arrow-down-white.btn.btn-blank.btn-dropdown::after, .icn-arrow-down-white.btn.btn-blank.loading::before, .btn-list .icn-arrow-down-white.btn-list-item.loading::after, .form-share-dropdown .icn-arrow-down-white.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-arrow-down-white.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-arrow-down-white.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-arrow-down-white.btn.btn-list-item.selected::after {
  background-image: url("../img/arrow-down-icon-white.png");
  background-size: auto 4px;
  width: 7px;
  height: 14px; }

.icn.icn-validate, .icn-validate.btn.btn-white.btn-dropdown::after, .icn-validate.btn.btn-white.loading::before, .icn-validate.btn.btn-blue.btn-dropdown::after, .icn-validate.btn.btn-blue.loading::before, .icn-validate.btn.btn-link.btn-dropdown::after, .icn-validate.btn.btn-link.loading::before, .icn-validate.btn.btn-blank.btn-dropdown::after, .icn-validate.btn.btn-blank.loading::before, .btn-list .icn-validate.btn-list-item.loading::after, .form-share-dropdown .icn-validate.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-validate.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-validate.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .btn.btn-list-item.selected::after {
  background-image: url("../img/validate-icon.png");
  background-size: auto 6px;
  width: 8px;
  height: 14px; }

.icn.icn-loading, .icn-loading.btn.btn-white.btn-dropdown::after, .btn.btn-white.loading::before, .icn-loading.btn.btn-blue.btn-dropdown::after, .icn-loading.btn.btn-blue.loading::before, .icn-loading.btn.btn-link.btn-dropdown::after, .btn.btn-link.loading::before, .icn-loading.btn.btn-blank.btn-dropdown::after, .btn.btn-blank.loading::before, .btn-list .btn-list-item.loading::after, .form-share-dropdown .icn-loading.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-loading.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-loading.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-loading.btn.btn-list-item.selected::after {
  background-image: url("../img/loader-dots-icon-grey.gif");
  background-size: 16px auto;
  width: 16px;
  height: 8px; }

.icn.icn-loading-white, .icn-loading-white.btn.btn-white.btn-dropdown::after, .icn-loading-white.btn.btn-white.loading::before, .icn-loading-white.btn.btn-blue.btn-dropdown::after, .btn.btn-blue.loading::before, .icn-loading-white.btn.btn-link.btn-dropdown::after, .icn-loading-white.btn.btn-link.loading::before, .icn-loading-white.btn.btn-blank.btn-dropdown::after, .icn-loading-white.btn.btn-blank.loading::before, .btn-list .icn-loading-white.btn-list-item.loading::after, .form-share-dropdown .icn-loading-white.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-loading-white.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-loading-white.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-loading-white.btn.btn-list-item.selected::after {
  background-image: url("../img/loader-dots-icon-white.gif");
  background-size: 16px auto;
  width: 16px;
  height: 8px; }

.icn.icn-close, .icn-close.btn.btn-white.btn-dropdown::after, .icn-close.btn.btn-white.loading::before, .icn-close.btn.btn-blue.btn-dropdown::after, .icn-close.btn.btn-blue.loading::before, .icn-close.btn.btn-link.btn-dropdown::after, .icn-close.btn.btn-link.loading::before, .icn-close.btn.btn-blank.btn-dropdown::after, .icn-close.btn.btn-blank.loading::before, .btn-list .icn-close.btn-list-item.loading::after, .form-share-dropdown .icn-close.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-close.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-close.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-close.btn.btn-list-item.selected::after {
  background-image: url("../img/close-icon.png");
  background-size: auto 10px;
  width: 10px;
  height: 14px; }

.icn.icn-remove, .icn-remove.btn.btn-white.btn-dropdown::after, .icn-remove.btn.btn-white.loading::before, .icn-remove.btn.btn-blue.btn-dropdown::after, .icn-remove.btn.btn-blue.loading::before, .icn-remove.btn.btn-link.btn-dropdown::after, .icn-remove.btn.btn-link.loading::before, .icn-remove.btn.btn-blank.btn-dropdown::after, .icn-remove.btn.btn-blank.loading::before, .btn-list .icn-remove.btn-list-item.loading::after, .form-share-dropdown .icn-remove.btn.btn-list-item.btn-share-workspace::before, .form-share-dropdown .icn-remove.btn.btn-list-item.btn-share-owner::before, .form-share-dropdown .icn-remove.btn.btn-list-item.btn-share-custom::before, .form-share-dropdown .icn-remove.btn.btn-list-item.selected::after {
  background-image: url("../img/remove-icon.png");
  background-size: auto 14px;
  width: 14px;
  height: 14px; }

/* /ICON */
/* Variables */
/* /Variables */
/* AVATAR */
.avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 2px;
  background-repeat: no-repeat; }

div.avatar {
  vertical-align: middle; }

span.avatar {
  vertical-align: text-top; }

.avatar a {
  display: block;
  height: auto; }

.avatar img {
  display: block;
  height: auto;
  border-radius: 2px; }

.avatar-xl {
  width: 200px;
  height: 200px;
  background-size: 200px; }

.avatar-xl a {
  width: 200px;
  height: 200px; }

.avatar-xl img {
  width: 200px; }

.avatar-lg {
  width: 150px;
  height: 150px;
  background-size: 150px; }

.avatar-lg a {
  width: 150px;
  height: 150px; }

.avatar-lg img {
  width: 150px; }

.avatar-md {
  width: 100px;
  height: 100px;
  background-size: 100px; }

.avatar-md a {
  width: 100px;
  height: 100px; }

.avatar-md img {
  width: 100px; }

.avatar-sm {
  width: 40px;
  height: 40px;
  background-size: 40px; }

.avatar-sm a {
  width: 40px;
  height: 40px; }

.avatar-sm img {
  width: 40px; }

.avatar-xs {
  width: 32px;
  height: 32px;
  background-size: 32px; }

.avatar-xs a {
  width: 32px;
  height: 32px; }

.avatar-xs img {
  width: 32px; }

.avatar-icn {
  width: 16px;
  height: 16px;
  background-size: 16px; }

.avatar-icn a {
  width: 16px;
  height: 16px; }

.avatar-icn img {
  width: 16px; }

/* /AVATAR */
/* Variables */
/* /Variables */
/* EMAIL */
.formatted-email .formatted-email-type {
  color: #999; }
  .formatted-email .formatted-email-type::before {
    color: #777;
    content: " - "; }

/* /EMAIL */
/* Variables */
/* /Variables */
/* PHONE */
.formatted-phone .formatted-phone-type {
  color: #999; }
  .formatted-phone .formatted-phone-type::before {
    color: #777;
    content: " - "; }

/* /PHONE */
/* Variables */
/* /Variables */
/* LABEL */
.label {
  font-size: 75%;
  line-height: 100%;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 0.4em 0.6em; }

.label {
  background: #58789c; }

.label.label-success {
  background: #5cb85c; }

.label.label-primary {
  background: #428bca; }

.label.label-danger {
  background: #d9534f; }

.label.label-warning {
  background: #f0ad4e; }

.label.label-alt-1 {
  background: #24A5F6; }

.label.label-alt-2 {
  background: #4DBAC0; }

.label.label-alt-3 {
  background: #AC6AAD; }

/* /LABEL */
/* Variables */
/* /Variables */
/* TABLE */
.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 8px 5px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left; }
  .table.table-align-middle > thead > tr > th,
  .table.table-align-middle > tbody > tr > th,
  .table.table-align-middle > tfoot > tr > th,
  .table.table-align-middle > thead > tr > td,
  .table.table-align-middle > tbody > tr > td,
  .table.table-align-middle > tfoot > tr > td {
    vertical-align: middle; }
  .table.table-align-bottom > thead > tr > th,
  .table.table-align-bottom > tbody > tr > th,
  .table.table-align-bottom > tfoot > tr > th,
  .table.table-align-bottom > thead > tr > td,
  .table.table-align-bottom > tbody > tr > td,
  .table.table-align-bottom > tfoot > tr > td {
    vertical-align: bottom; }
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    color: #444; }
  .table tr.array-deployment td:first-child {
    background-image: url("./images/array-deployment.png");
    background-position: top 12px right 8px;
    background-size: auto 14px;
    background-repeat: no-repeat;
    cursor: pointer; }
  .table tr.array-deployment.open td:first-child {
    background-image: url("./images/array-deployment-active.png"); }
  .table tr.array-deployment-child td:first-child {
    padding-left: 30px; }
  .table tr.array-deployment-child td {
    border-top: none; }

/* /TABLE */
/* Variables */
/* /Variables */
/* FORM-GROUP */
.form-group {
  border-bottom: 1px solid #DDD; }
  .form-group + .form-group {
    padding-top: 15px; }

/* /FORM-GROUP */
/* Variables */
/* /Variables */
/* CONTROL */
input,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3C3C3C; }

/* /CONTROL */
/* Variables */
/* /Variables */
/* CONTROL-GROUP */
.form-control-group > .t-row > .t-cell {
  position: relative;
  padding: 0 10px; }
  .form-control-group > .t-row > .t-cell::after {
    content: " ";
    color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 1px;
    height: 24px;
    background: #DDD; }
  .form-control-group > .t-row > .t-cell:first-child {
    padding-left: 0; }
  .form-control-group > .t-row > .t-cell:last-child {
    padding-right: 0; }
  .form-control-group > .t-row > .t-cell:last-child::after {
    display: none; }

.form-control-group + .form-control-group {
  border-top: 1px solid #DDD; }

/* /CONTROL-GROUP */
/* Variables */
/* /Variables */
/* CONTROL-LABEL */
.form-control.form-label {
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #999999; }

/* /CONTROL-LABEL */
/* Variables */
/* /Variables */
/* CONTROL-AUTOCOMPLETE */
.form-control.form-autocomplete {
  position: relative;
  padding: 4px 8px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  background: #FFF;
  cursor: text;
  font-size: 14px;
  line-height: 20px; }
  .form-control.form-autocomplete.focus {
    border-color: #999; }
  .form-control.form-autocomplete.read-only {
    color: #C3C3C3;
    border-color: #CCC;
    background: #F6F6F6;
    cursor: default; }
  .form-control.form-autocomplete.transparent {
    border: none;
    padding: 5px 0;
    background: none; }
  .form-control.form-autocomplete .input-frame {
    height: 50px;
    margin-bottom: -30px;
    overflow-x: scroll; }
    .form-control.form-autocomplete .input-frame::-webkit-scrollbar, .form-control.form-autocomplete .input-frame::-webkit-scrollbar-track {
      width: 0 !important;
      opacity: 0 !important; }
    .form-control.form-autocomplete .input-frame input {
      background: none;
      border: none;
      padding: 0;
      width: 100%; }
      .form-control.form-autocomplete .input-frame input:focus {
        outline: none;
        box-shadow: none; }
    .form-control.form-autocomplete .input-frame > .t-row > .t-cell {
      padding: 0; }
    .form-control.form-autocomplete .input-frame .t-cell.cell-input {
      min-width: 1px; }
    .form-control.form-autocomplete .input-frame .selected-option {
      padding-right: 4px; }
      .form-control.form-autocomplete .input-frame .selected-option .light {
        color: #999999; }
  .form-control.form-autocomplete .contextual-layer-helper {
    visibility: hidden;
    padding: 1px;
    margin: -1px;
    box-sizing: content-box; }

.form-autocomplete-layer {
  position: relative;
  margin-top: -1px;
  background: #FFF;
  border: 1px solid #999;
  border-radius: 0 0 2px 2px; }
  .form-autocomplete-layer.transparent {
    border-color: #E0E0E0; }
  .form-autocomplete-layer .main-option-list + .additional-option-list {
    border-top: 1px solid #CCC; }
  .form-autocomplete-layer .btn-list-item .light {
    color: #999999; }
  .form-autocomplete-layer .btn-list-item .highlight {
    color: #547BA3; }

/* /CONTROL-AUTOCOMPLETE */
/* Variables */
/* /Variables */
/* CONTROL-CHECKBOX */
.form-control.form-checkbox {
  position: relative;
  width: auto;
  height: 28px;
  cursor: pointer; }
  .form-control.form-checkbox > .checkbox-icon {
    border: 1px solid #DDD;
    border-radius: 2px;
    background: #FFF; }

/* /CONTROL-CHECKBOX */
/* Variables */
/* /Variables */
/* CONTROL-DATE */
.form-control.form-date {
  position: relative; }
  .form-control.form-date > .btn {
    width: 100%; }
  .form-control.form-date.compact {
    width: auto;
    display: inline-block; }
    .form-control.form-date.compact > .btn {
      width: auto; }
  .form-control.form-date.disabled > select {
    cursor: default;
    z-index: 1; }

.form-date-dropdown .date-picker {
  width: 210px; }
  .form-date-dropdown .date-picker .date-picker-header {
    position: relative;
    text-align: center; }
    .form-date-dropdown .date-picker .date-picker-header span {
      font-size: 14px;
      line-height: 20px;
      padding: 0 2px; }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-title {
      padding: 10px 0; }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-prev,
    .form-date-dropdown .date-picker .date-picker-header .date-picker-next {
      position: absolute;
      top: 0; }
      .form-date-dropdown .date-picker .date-picker-header .date-picker-prev .btn-icon,
      .form-date-dropdown .date-picker .date-picker-header .date-picker-next .btn-icon {
        display: block;
        width: 38px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 10px; }
        .form-date-dropdown .date-picker .date-picker-header .date-picker-prev .btn-icon.disabled,
        .form-date-dropdown .date-picker .date-picker-header .date-picker-next .btn-icon.disabled {
          cursor: default; }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-prev {
      left: 0; }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-prev .btn-icon {
      background-image: url("../img/arrow-prev-icon.png"); }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-prev .btn-icon.disabled {
      background-image: url("../img/arrow-prev-icon-light.png"); }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-next {
      right: 0; }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-next .btn-icon {
      background-image: url("../img/arrow-next-icon.png"); }
    .form-date-dropdown .date-picker .date-picker-header .date-picker-next .btn-icon.disabled {
      background-image: url("../img/arrow-next-icon-light.png"); }
  .form-date-dropdown .date-picker .date-picker-subheader {
    position: relative; }
    .form-date-dropdown .date-picker .date-picker-subheader span {
      display: block;
      font-size: 14px;
      line-height: 14px;
      font-style: italic;
      padding: 2px 0; }
    .form-date-dropdown .date-picker .date-picker-subheader .date-picker-days {
      display: table;
      table-layout: fixed;
      width: 100%; }
      .form-date-dropdown .date-picker .date-picker-subheader .date-picker-days .date-picker-day {
        display: table-cell;
        width: 14.285714%;
        text-align: center; }
  .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 10px 4px; }
    .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-calendar-line {
      display: table-row; }
    .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date {
      display: table-cell;
      width: 14.285714%;
      text-align: center; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date span {
        display: inline-block;
        width: 26px;
        height: 20px;
        padding: 3px 0;
        margin: 2px 0;
        border-radius: 20px;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date.prev-month span,
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date.next-month span {
        color: #AAA; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date span:hover {
        background: #EEE; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date.current span {
        background: #FF6868;
        color: #FFF; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date.active span {
        background: #47B4FC;
        color: #FFF; }
      .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date.disabled span {
        background: #FFF;
        color: #EEE;
        cursor: default; }
    .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date:first-child {
      border-left: none; }
    .form-date-dropdown .date-picker .date-picker-content .date-picker-calendar .date-picker-date:last-child {
      border-right: none; }

/* /CONTROL-DATE */
/* Variables */
/* /Variables */
/* CONTROL-FILE */
.form-control.form-file {
  position: relative; }
  .form-control.form-file .btn {
    padding: 8px; }

.form-file-dropdown > .v-list > li.file-item {
  border-bottom: 1px solid #EEE; }
  .form-file-dropdown > .v-list > li.file-item .btn {
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 10px; }
    .form-file-dropdown > .v-list > li.file-item .btn:hover {
      background: #F7F7F7; }

.form-file-dropdown > .v-list > li.url-item {
  padding: 10px; }
  .form-file-dropdown > .v-list > li.url-item .form-control.form-text {
    margin-top: 6px; }

.form-file-dropdown > .v-list > li span.action {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #555; }

.form-file-dropdown > .v-list > li span.details {
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #999;
  min-width: 300px; }

/* /CONTROL-FILE */
/* Variables */
/* /Variables */
/* CONTROL-PHOTO */
.form-control.form-photo {
  position: relative; }
  .form-control.form-photo .photo {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid #DDD;
    background: #F7F7F7; }
    .form-control.form-photo .photo > img {
      width: 100px;
      height: 100px;
      border-radius: 2px; }
    .form-control.form-photo .photo > .progress-frame {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 30px; }
      .form-control.form-photo .photo > .progress-frame:before {
        content: '';
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-image: url("../img/loader.gif");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 40px; }
      .form-control.form-photo .photo > .progress-frame:after {
        content: '';
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 30px;
        height: 30px;
        margin: 5px;
        background-image: url("../img/upload-icon-frame.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 30px; }
      .form-control.form-photo .photo > .progress-frame > .progress-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 30px;
        height: 30px;
        margin: 5px;
        background: #E1E1E1; }
        .form-control.form-photo .photo > .progress-frame > .progress-content > .progress-value {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 30px;
          height: 0%;
          background: #47B4FC; }
  .form-control.form-photo .details {
    padding-top: 10px;
    line-height: 20px;
    color: #C3C3C3;
    font-style: italic; }

.form-photo-dropdown {
  width: 300px; }
  .form-photo-dropdown span.action {
    display: block;
    color: #555; }
  .form-photo-dropdown span.action-details {
    display: block;
    color: #999; }
  .form-photo-dropdown .url-input-view {
    padding: 10px; }

/* /CONTROL-PHOTO */
/* Variables */
/* /Variables */
/* CONTROL-RADIO */
.form-control.form-radio {
  position: relative;
  width: auto;
  height: 28px;
  padding: 7px 0;
  cursor: pointer;
  white-space: nowrap; }
  .form-control.form-radio > .radio-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    border: 1px solid #DDD;
    border-radius: 10px;
    background: #FFF; }
  .form-control.form-radio:active > .radio-icon {
    border: 1px solid #DDD;
    box-shadow: inset 0 0 0 2px #FFF;
    background: #F2F2F2; }
  .form-control.form-radio.checked > .radio-icon {
    border: 1px solid #DDD;
    box-shadow: inset 0 0 0 2px #FFF;
    background: #597BA5; }
    .form-control.form-radio.checked > .radio-icon:active > .radio-icon {
      border: 1px solid #DDD;
      box-shadow: inset 0 0 0 2px #FFF;
      background: #4f6a8a; }
  .form-control.form-radio > .radio-label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    line-height: 1; }
  .form-control.form-radio.star-radio > .radio-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: url("../img/radio-star-icon.png") top center no-repeat;
    background-size: 14px auto; }
  .form-control.form-radio.star-radio:active > .radio-icon {
    border: none;
    box-shadow: none;
    background: url("../img/radio-star-icon-active.png") top center no-repeat;
    background-size: 14px auto; }
  .form-control.form-radio.star-radio.checked > .radio-icon {
    border: none;
    box-shadow: none;
    background: url("../img/radio-star-icon-checked.png") top center no-repeat;
    background-size: 14px auto; }
  .form-control.form-radio.star-radio.checked:active > .radio-icon {
    border: none;
    box-shadow: none;
    background: url("../img/radio-star-icon-checked-active.png") top center no-repeat;
    background-size: 14px auto; }

/* /CONTROL-RADIO */
/* Variables */
/* /Variables */
/* CONTROL-SELECT */
.form-control.form-select {
  position: relative;
  width: 100%; }
  .form-control.form-select > .btn {
    width: 100%; }
  .form-control.form-select > select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    line-height: 1;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.01;
    cursor: pointer; }
  .form-control.form-select > select:hover + .btn-link,
  .form-control.form-select > select:hover + .btn-blank {
    text-decoration: underline; }
  .form-control.form-select.compact {
    width: auto;
    display: inline-block; }
    .form-control.form-select.compact > .btn {
      width: auto; }
  .form-control.form-select.disabled > select,
  .form-control.form-select.loading > select {
    cursor: default;
    z-index: 1; }

/* /CONTROL-SELECT */
/* Variables */
/* /Variables */
/* CONTROL-SELECT-BUTTONS */
.form-control.form-select-buttons {
  position: relative;
  white-space: nowrap; }

/* /CONTROL-SELECT-BUTTONS */
/* Variables */
/* /Variables */
/* CONTROL-SHARE */
.form-share-dropdown {
  width: 200px;
  padding: 6px 0; }
  .form-share-dropdown .btn.btn-list-item {
    padding: 6px 10px;
    line-height: 14px; }
    .form-share-dropdown .btn.btn-list-item.btn-share-workspace::before {
      content: '';
      color: transparent;
      width: 18px;
      margin-right: 8px; }
    .form-share-dropdown .btn.btn-list-item.btn-share-owner::before {
      content: '';
      color: transparent;
      width: 18px;
      margin-right: 8px; }
    .form-share-dropdown .btn.btn-list-item.btn-share-custom::before {
      content: '';
      color: transparent;
      width: 18px;
      margin-right: 8px; }
    .form-share-dropdown .btn.btn-list-item.selected::after {
      content: '';
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      margin-right: 10px; }
  .form-share-dropdown .list-children {
    position: relative; }
    .form-share-dropdown .list-children > .btn-list-item {
      position: relative;
      padding-left: 36px; }
      .form-share-dropdown .list-children > .btn-list-item .sub-structure {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10px;
        height: 100%;
        margin-left: 19px; }
        .form-share-dropdown .list-children > .btn-list-item .sub-structure::before {
          content: " ";
          color: transparent;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 1px;
          height: 100%;
          background: #DDD; }
        .form-share-dropdown .list-children > .btn-list-item .sub-structure::after {
          content: " ";
          color: transparent;
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 10px;
          height: 1px;
          background: #DDD; }
      .form-share-dropdown .list-children > .btn-list-item:first-child .sub-structure::before {
        top: auto;
        bottom: 0;
        height: 85%; }
      .form-share-dropdown .list-children > .btn-list-item:last-child .sub-structure::before {
        height: 50%; }

.form-share-modal {
  position: relative;
  width: 400px; }
  .form-share-modal .header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
    .form-share-modal .header .title {
      display: block;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .form-share-modal .header .details {
      display: inline-block;
      width: 370px;
      line-height: 22px; }
  .form-share-modal .content .section {
    padding: 0 15px; }
    .form-share-modal .content .section .title {
      display: block;
      font-weight: 500;
      padding-bottom: 20px; }
    .form-share-modal .content .section .light {
      color: #999; }
    .form-share-modal .content .section .section-list {
      padding-bottom: 10px; }
      .form-share-modal .content .section .section-list > .section-list-item {
        padding-bottom: 8px; }
    .form-share-modal .content .section.section-allow {
      padding-bottom: 30px; }
  .form-share-modal .footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px; }

/* /CONTROL-SHARE */
/* Variables */
/* /Variables */
/* CONTROL-STATIC */
.form-control.form-static {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 0; }

/* /CONTROL-STATIC */
/* Variables */
/* /Variables */
/* CONTROL-TEXT */
.form-control.form-text {
  padding: 4px 8px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px; }
  .form-control.form-text:focus {
    box-shadow: none;
    border-color: #999;
    outline: none; }
  .form-control.form-text.read-only {
    box-shadow: none;
    color: #BBBBBB;
    border-color: #CCC;
    background: #F6F6F6;
    outline: none;
    cursor: default; }
  .form-control.form-text.transparent {
    border: none;
    padding: 5px 0;
    background: none; }

textarea.form-control.form-text {
  resize: vertical;
  min-height: 50px; }

/* /CONTROL-TEXT */
/* Variables */
/* /Variables */
/* CONTEXTUAL-LAYER */
.contextual-layer-group {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200; }

.contextual-layer-positioner {
  position: absolute; }
  .contextual-layer-positioner .contextual-layer {
    position: absolute; }
    .contextual-layer-positioner .contextual-layer.aboveleft {
      bottom: 0;
      left: 0; }
    .contextual-layer-positioner .contextual-layer.aboveright {
      bottom: 0;
      right: 0; }
    .contextual-layer-positioner .contextual-layer.abovecenter {
      bottom: 0;
      left: -500px;
      width: 1000px;
      text-align: center; }
      .contextual-layer-positioner .contextual-layer.abovecenter > div {
        position: relative;
        display: inline-block;
        vertical-align: bottom; }
    .contextual-layer-positioner .contextual-layer.belowleft {
      top: 0;
      left: 0; }
    .contextual-layer-positioner .contextual-layer.belowright {
      top: 0;
      right: 0; }
    .contextual-layer-positioner .contextual-layer.belowcenter {
      top: 0;
      left: -500px;
      width: 1000px;
      text-align: center; }
      .contextual-layer-positioner .contextual-layer.belowcenter > div {
        position: relative;
        display: inline-block;
        vertical-align: top; }
    .contextual-layer-positioner .contextual-layer.beforetop {
      right: 0;
      top: 0; }
    .contextual-layer-positioner .contextual-layer.beforebottom {
      right: 0;
      bottom: 0; }
    .contextual-layer-positioner .contextual-layer.beforemiddle {
      right: 0;
      top: 0;
      height: auto;
      width: 0;
      white-space: nowrap; }
      .contextual-layer-positioner .contextual-layer.beforemiddle .contextual-layer-children {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%); }
    .contextual-layer-positioner .contextual-layer.aftertop {
      left: 0;
      top: 0; }
    .contextual-layer-positioner .contextual-layer.afterbottom {
      left: 0;
      bottom: 0; }
    .contextual-layer-positioner .contextual-layer.aftermiddle {
      left: 0;
      top: 0;
      height: auto;
      width: 0;
      white-space: nowrap; }
      .contextual-layer-positioner .contextual-layer.aftermiddle .contextual-layer-children {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%); }

.contextual-layer-helper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%; }

/* /CONTEXTUAL-LAYER */
/* Variables */
/* /Variables */
/* DROPDOWN */
.dropdown {
  position: relative;
  background: #FFF;
  border: 1px solid;
  border-radius: 3px; }

.dropdown:before,
.dropdown:after {
  position: absolute;
  content: ".";
  color: transparent;
  display: block;
  width: 0;
  height: 0; }

/* below */
.dropdown,
.dropdown.belowleft,
.dropdown.belowright,
.dropdown.belowcenter {
  min-width: 60px;
  min-height: 30px;
  margin: 0;
  margin-top: 10px;
  box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.2);
  border-color: #DDDEDF #D4D4D7 #C1C2C5; }

.dropdown.relative-to-arrow,
.dropdown.belowleft.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin-left: -21px; }

.dropdown:before,
.dropdown.belowleft:before {
  top: -7px;
  bottom: auto;
  left: 13px;
  right: auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: none;
  border-bottom: 7px solid #DDDEDF; }

.dropdown:after,
.dropdown.belowleft:after {
  top: -6px;
  bottom: auto;
  left: 14px;
  right: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #FFF; }

.dropdown.belowright.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  margin-right: -21px; }

.dropdown.belowright:before {
  top: -7px;
  bottom: auto;
  left: auto;
  right: 13px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: none;
  border-bottom: 7px solid #DDDEDF; }

.dropdown.belowright:after {
  top: -6px;
  bottom: auto;
  left: auto;
  right: 14px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #FFF; }

.dropdown.belowcenter:before {
  top: -7px;
  bottom: auto;
  left: auto;
  left: 50%;
  margin: 0;
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: none;
  border-bottom: 7px solid #DDDEDF; }

.dropdown.belowcenter:after {
  top: -6px;
  bottom: auto;
  left: auto;
  left: 50%;
  margin: 0;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #FFF; }

/* /below */
/* above */
.dropdown.aboveleft,
.dropdown.aboveright,
.dropdown.abovecenter {
  min-width: 60px;
  min-height: 30px;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0 -1.5px 5px rgba(0, 0, 0, 0.2);
  border-color: #C1C2C5 #D4D4D7 #DDDEDF; }

.dropdown.aboveleft.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  margin-left: -21px; }

.dropdown.aboveleft:before {
  top: auto;
  bottom: -7px;
  left: 13px;
  right: auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #DDDEDF;
  border-bottom: none; }

.dropdown.aboveleft:after {
  top: auto;
  bottom: -6px;
  left: 14px;
  right: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none; }

.dropdown.aboveright.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin-right: -21px; }

.dropdown.aboveright:before {
  top: auto;
  bottom: -7px;
  left: auto;
  right: 13px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #DDDEDF;
  border-bottom: none; }

.dropdown.aboveright:after {
  top: auto;
  bottom: -6px;
  left: auto;
  right: 14px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none; }

.dropdown.abovecenter:before {
  top: auto;
  bottom: -7px;
  left: 50%;
  right: auto;
  margin: 0;
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #DDDEDF;
  border-bottom: none; }

.dropdown.abovecenter:after {
  top: auto;
  bottom: -6px;
  left: 50%;
  right: auto;
  margin: 0;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF;
  border-bottom: none; }

/* /above */
/* before */
.dropdown.beforetop,
.dropdown.beforebottom,
.dropdown.beforemiddle {
  min-width: 30px;
  min-height: 40px;
  margin: 0;
  margin-right: 10px;
  box-shadow: -1.5px 0 5px rgba(0, 0, 0, 0.2);
  border-color: #D4D4D7 #DDDEDF #D4D4D7 #C1C2C5; }

.dropdown.beforetop.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  margin-top: -21px; }

.dropdown.beforetop:before {
  top: 13px;
  bottom: auto;
  left: auto;
  right: -7px;
  border-left: 7px solid #DDDEDF;
  border-right: none;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.beforetop:after {
  top: 14px;
  bottom: auto;
  left: auto;
  right: -6px;
  border-left: 6px solid #FFF;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.dropdown.beforebottom.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin-bottom: -21px; }

.dropdown.beforebottom:before {
  top: auto;
  bottom: 13px;
  left: auto;
  right: -7px;
  border-left: 7px solid #DDDEDF;
  border-right: none;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.beforebottom:after {
  top: auto;
  bottom: 14px;
  left: auto;
  right: -6px;
  border-left: 6px solid #FFF;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.dropdown.beforemiddle:before {
  top: 50%;
  bottom: auto;
  left: auto;
  right: -7px;
  margin: 0;
  margin-top: -7px;
  border-left: 7px solid #DDDEDF;
  border-right: none;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.beforemiddle:after {
  top: 50%;
  bottom: auto;
  left: auto;
  right: -6px;
  margin: 0;
  margin-top: -6px;
  border-left: 6px solid #FFF;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

/* /before */
/* after */
.dropdown.aftertop,
.dropdown.afterbottom,
.dropdown.aftermiddle {
  min-width: 30px;
  min-height: 60px;
  margin: 0;
  margin-left: 10px;
  box-shadow: 1.5px 0 5px rgba(0, 0, 0, 0.2);
  border-color: #D4D4D7 #C1C2C5 #D4D4D7 #DDDEDF; }

.dropdown.aftertop.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin-top: -21px; }

.dropdown.aftertop:before {
  top: 13px;
  bottom: auto;
  left: -7px;
  right: auto;
  border-left: none;
  border-right: 7px solid #DDDEDF;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.aftertop:after {
  top: 14px;
  bottom: auto;
  left: -6px;
  right: auto;
  border-left: none;
  border-right: 6px solid #FFF;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.dropdown.afterbottom.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  margin-bottom: -21px; }

.dropdown.afterbottom:before {
  top: auto;
  bottom: 13px;
  left: -7px;
  right: auto;
  border-left: none;
  border-right: 7px solid #DDDEDF;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.afterbottom:after {
  top: auto;
  bottom: 14px;
  left: -6px;
  right: auto;
  border-left: none;
  border-right: 6px solid #FFF;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.dropdown.aftermiddle:before {
  top: 50%;
  bottom: auto;
  left: -7px;
  right: auto;
  margin: 0;
  margin-top: -7px;
  border-left: none;
  border-right: 7px solid #DDDEDF;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dropdown.aftermiddle:after {
  top: 50%;
  bottom: auto;
  left: -6px;
  right: auto;
  margin: 0;
  margin-top: -6px;
  border-left: none;
  border-right: 6px solid #FFF;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

/* /after */
/* /DROPDOWN */
/* Variables */
/* /Variables */
/* TOOLTIP */
.tooltip {
  position: relative;
  background: #333;
  border-radius: 3px;
  max-width: 200px;
  padding: 8px 10px; }
  .tooltip:after {
    position: absolute;
    content: ".";
    color: transparent;
    display: block;
    width: 0;
    height: 0; }
  .tooltip span {
    display: block;
    color: #FFF;
    white-space: nowrap; }

/* below */
.tooltip,
.tooltip.belowleft,
.tooltip.belowright,
.tooltip.belowcenter {
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  margin-top: 10px; }

.tooltip.relative-to-arrow,
.tooltip.belowleft.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin-left: -21px; }

.tooltip:after,
.tooltip.belowleft:after {
  top: -6px;
  bottom: auto;
  left: 14px;
  right: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #333; }

.tooltip.belowright.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  margin-right: -21px; }

.tooltip.belowright:after {
  top: -6px;
  bottom: auto;
  left: auto;
  right: 14px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #333; }

.tooltip.belowcenter:after {
  top: -6px;
  bottom: auto;
  left: auto;
  left: 50%;
  margin: 0;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #333; }

/* /below */
/* above */
.tooltip.aboveleft,
.tooltip.aboveright,
.tooltip.abovecenter {
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  margin-bottom: 10px; }

.tooltip.aboveleft.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  margin-left: -21px; }

.tooltip.aboveleft:after {
  top: auto;
  bottom: -6px;
  left: 14px;
  right: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  border-bottom: none; }

.tooltip.aboveright.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin-right: -21px; }

.tooltip.aboveright:after {
  top: auto;
  bottom: -6px;
  left: auto;
  right: 14px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  border-bottom: none; }

.tooltip.abovecenter:after {
  top: auto;
  bottom: -6px;
  left: 50%;
  right: auto;
  margin: 0;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  border-bottom: none; }

/* /above */
/* before */
.tooltip.beforetop,
.tooltip.beforebottom,
.tooltip.beforemiddle {
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  margin-right: 10px; }

.tooltip.beforetop.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  margin-top: -21px; }

.tooltip.beforetop:after {
  top: 14px;
  bottom: auto;
  left: auto;
  right: -6px;
  border-left: 6px solid #333;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.tooltip.beforebottom.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin-bottom: -21px; }

.tooltip.beforebottom:after {
  top: auto;
  bottom: 14px;
  left: auto;
  right: -6px;
  border-left: 6px solid #333;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.tooltip.beforemiddle:after {
  top: 50%;
  bottom: auto;
  left: auto;
  right: -6px;
  margin: 0;
  margin-top: -6px;
  border-left: 6px solid #333;
  border-right: none;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

/* /before */
/* after */
.tooltip.aftertop,
.tooltip.afterbottom,
.tooltip.aftermiddle {
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  margin-left: 10px; }

.tooltip.aftertop.relative-to-arrow {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin-top: -21px; }

.tooltip.aftertop:after {
  top: 14px;
  bottom: auto;
  left: -6px;
  right: auto;
  border-left: none;
  border-right: 6px solid #333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.tooltip.afterbottom.relative-to-arrow {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  margin-bottom: -21px; }

.tooltip.afterbottom:after {
  top: auto;
  bottom: 14px;
  left: -6px;
  right: auto;
  border-left: none;
  border-right: 6px solid #333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.tooltip.aftermiddle:after {
  top: 50%;
  bottom: auto;
  left: -6px;
  right: auto;
  margin: 0;
  margin-top: -6px;
  border-left: none;
  border-right: 6px solid #333;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

/* /after */
/* /TOOLTIP */
/* Variables */
/* /Variables */
/* CONTEXTUAL-WINDOW */
.contextual-window-helper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%; }

.contextual-window-environment {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  overflow: scroll; }
  .contextual-window-environment.fade-transition-enter {
    transition: 0.3s ease-out opacity;
    opacity: 0; }
    .contextual-window-environment.fade-transition-enter.fade-transition-enter-active {
      opacity: 1; }
  .contextual-window-environment::before {
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  .contextual-window-environment .contextual-window {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 50px 0; }

/* /CONTEXTUAL-WINDOW */
/* Variables */
/* /Variables */
/* MODAL */
.modal {
  position: relative;
  min-width: 200px;
  min-height: 100px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .modal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-right: 15px;
    margin-top: 13px; }
  .modal .modal-content {
    position: relative; }

/* /MODAL */
/* W-Box */
.w-box {
  position: relative;
  display: block;
  margin-top: 10px;
  background: #FFF;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  font-weight: normal;
  color: #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.w-box,
.w-box .h-list > li {
  font-size: 14px;
  line-height: 20px; }

.w-box > *:first-child {
  border-top: none;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }

.w-box > *:last-child {
  border-bottom: none;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

/* .w-box-header */
.w-box-header {
  position: relative;
  display: block;
  padding: 12px 15px;
  background: #f6f7f8;
  font-weight: normal;
  color: #4F575A;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

.w-box-header h1,
.w-box-header h2,
.w-box-header h3,
.w-box-header h4,
.w-box-header h5,
.w-box-header .title {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #4F575A;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

/* /.w-box-header */
/* .w-box-footer */
.w-box-footer {
  position: relative;
  display: block;
  padding: 12px 15px;
  border-top: 1px solid #e1e2e3;
  background: #f6f7f8;
  font-weight: normal;
  color: #4F575A;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

.w-box-footer h1,
.w-box-footer h2,
.w-box-footer h3,
.w-box-footer h4,
.w-box-footer h5,
.w-box-footer .title {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #4F575A;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

/* /.w-box-footer */
/* .w-box-content */
.w-box-content {
  position: relative;
  padding: 15px;
  color: #4F575A;
  border-top: 1px solid #dfe0e4; }

.w-box-header.hidden-element + .w-box-content {
  border-top: none; }

.w-box-header.hidden-element + .w-box-footer {
  border-top: none; }

.w-box-content.hidden-element + .w-box-footer {
  border-top: none; }

/* /.w-box-content */
/* .w-box-nav */
.w-box-nav {
  position: relative; }

.w-box-nav .nav-item {
  position: relative; }

.w-box-nav .nav-item > a {
  position: relative;
  display: block;
  padding: 15px;
  border-bottom: solid 1px #f5f5f5;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #141823;
  text-decoration: none; }

.w-box-nav .nav-item:last-child > a {
  border-bottom: none; }

.w-box-nav .nav-item > a:hover {
  background: #f6f7f8;
  padding-left: 13px;
  border-left: 2px solid #597ba5;
  color: #141823;
  text-decoration: none; }

.w-box-nav .nav-item ul .sub-nav-item {
  position: relative; }

.w-box-nav .nav-item ul .sub-nav-item > a {
  position: relative;
  display: block;
  padding: 7px 15px;
  padding-left: 13px;
  color: #141823;
  text-decoration: none; }

.w-box-nav .nav-item ul .sub-nav-item > a {
  padding-left: 28px; }

.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item > a {
  padding-left: 43px; }

.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item > a {
  padding-left: 58px; }

.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item > a {
  padding-left: 73px; }

/* .open/.active/:hover */
.w-box-nav .nav-item.open {
  background: #f6f7f8;
  border-left: 2px solid #597ba5;
  border-bottom: solid 1px #dfe0e4;
  padding-bottom: 8px; }

.w-box-nav .nav-item.active {
  background: #f6f7f8;
  border-left: 2px solid #597ba5;
  padding-bottom: 8px; }

.w-box-nav .nav-item.open > a,
.w-box-nav .nav-item.active > a {
  border-bottom: none;
  font-weight: 600;
  padding-bottom: 7px;
  padding-left: 13px; }

.w-box-nav .nav-item.active > a {
  font-weight: 600; }

.w-box-nav .nav-item.open > a:hover,
.w-box-nav .nav-item.active > a {
  background: none;
  border-left: none;
  color: #597ba5;
  text-decoration: none; }

.w-box-nav .nav-item.open ul .sub-nav-item.open > a,
.w-box-nav .nav-item.open ul .sub-nav-item.active > a {
  font-weight: 600; }

.w-box-nav .nav-item.open ul .sub-nav-item > a:hover,
.w-box-nav .nav-item.open ul .sub-nav-item.active > a {
  background: none;
  border-left: none;
  color: #597ba5;
  text-decoration: none; }

/* /.open/.active/:hover */
/* .loading-animation */
.w-box-nav .nav-item .loading-animation {
  position: absolute;
  right: 15px;
  top: 12px;
  height: 12px; }

.w-box-nav .nav-item .loading-animation > span {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-image: url("./images/loading-gif.png");
  -webkit-animation: rotateSpinner 1.2s linear infinite;
  -moz-animation: rotateSpinner 1.2s linear infinite;
  animation: rotateSpinner 1.2s linear infinite; }

@-webkit-keyframes rotateSpinner {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotateSpinner {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-keyframes rotateSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* /.loading-animation */
/* /.w-box-nav */
/* /W-Box */
/* Navigation */
/*

	ul.nav-bar > li > a{
		position:relative;
		display:block;
		padding:2px 12px;
		margin:-2px 0;
		border-left:1px solid #EEE;
		font-size:13px; line-height:20px;
		font-weight:400; color:#555;
	}

	ul.nav-bar > li:last-child > a{border-right:1px solid #EEE;}
	ul.nav-bar > li.active > a{font-weight:600;}

	ul.nav-bar > li > a::after{
		content:" "; color:transparent;
		display:none;
		position:absolute; bottom:-10px; left:0;
		width:100%; height:2px;
		background:#58789c;
		border-left:12px solid #FFF;
		border-right:12px solid #FFF;
	}

	.w-box-content ul.nav-bar > li > a::after{border-left:12px solid #FFF; border-right:12px solid #FFF;}
	.w-box-header ul.nav-bar > li > a::after,
	.w-box-footer ul.nav-bar > li > a::after{border-left:12px solid #f6f7f8; border-right:12px solid #f6f7f8;}

	ul.nav-bar > li.active > a::after{display:block;}

	ul.nav-bar > li:hover > a{background:#e9eaed; border-radius:2px; text-decoration:none;}
	ul.nav-bar > li:hover + li > a{border-left-color:#FFF;}

	.w-box-content ul.nav-bar > li:hover + li > a{border-left-color:#FFF;}
	.w-box-header ul.nav-bar > li:hover + li > a,
	.w-box-footer ul.nav-bar > li:hover + li > a{border-left-color:#f6f7f8;}

	*/
/* /Navigation */
