html, body{
	position:relative;
	width:auto; height:100%;
	overflow-x:hidden;
}

body{
	background:#e9eaed;
	margin:auto;
	min-width:980px;
}

/* CONTENT */

	#content{
		position:relative;
		padding-top:44px;
		padding-left:60px;
		margin-bottom:20px;
		z-index:1;
	}

	#content > .container{
		position:relative;
		overflow:visible;
	}

/* /CONTENT */