/* Variables */

	$color-white:#FFFFFF;
	$color-black:#3C3C3C;
	$color-strong-grey:#999999;
	$color-smooth-grey:#C3C3C3;
	$color-blue:#5F8BB8;

	$font-main:'Roboto', Helvetica, Arial, sans-serif;

/* /Variables */