// Import base
@import 'reset';
@import 'utils';
@import 'text';
@import 'grid';

// Import elements
@import 'elements/button';
@import 'elements/navigation';
@import 'elements/icon';
@import 'elements/avatar';
@import 'elements/email';
@import 'elements/phone';
@import 'elements/label';
@import 'elements/table';

// Import form
@import 'elements/form-group';
@import 'elements/control';
@import 'elements/control-group';
@import 'elements/control-label';
@import 'elements/control-autocomplete';
@import 'elements/control-autocomplete-tag';
@import 'elements/control-checkbox';
@import 'elements/control-date';
@import 'elements/control-file';
@import 'elements/control-photo';
@import 'elements/control-radio';
@import 'elements/control-select';
@import 'elements/control-select-buttons';
@import 'elements/control-share';
@import 'elements/control-static';
@import 'elements/control-text';

// Import contextual
@import 'elements/contextual-layer';
@import 'elements/dropdown';
@import 'elements/tooltip';
@import 'elements/contextual-window';
@import 'elements/modal';






/* W-Box */

	.w-box{
		position:relative;
		display:block;
		margin-top:10px;
		background:#FFF;
		border:1px solid;
		border-color:#e5e6e9 #dfe0e4 #d0d1d5;
		font-weight:normal; color:#222;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}

	.w-box,
	.w-box .h-list > li{
		font-size:14px; line-height:20px;
	}

	.w-box > *:first-child{
		border-top:none;
		-webkit-border-top-right-radius:2px;
		-webkit-border-top-left-radius:2px;
		-moz-border-radius-topright:2px;
		-moz-border-radius-topleft:2px;
		border-top-right-radius:2px;
		border-top-left-radius:2px;
	}

	.w-box > *:last-child{
		border-bottom:none;
		-webkit-border-bottom-right-radius:2px;
		-webkit-border-bottom-left-radius:2px;
		-moz-border-radius-bottomright:2px;
		-moz-border-radius-bottomleft:2px;
		border-bottom-right-radius:2px;
		border-bottom-left-radius:2px;
	}

	/* .w-box-header */

		.w-box-header{
			position:relative;
			display:block;
			padding:12px 15px;
			background:#f6f7f8;
			font-weight:normal; color:#4F575A;
			-webkit-border-bottom-right-radius:2px;
			-webkit-border-bottom-left-radius:2px;
			-moz-border-radius-bottomright:2px;
			-moz-border-radius-bottomleft:2px;
			border-bottom-right-radius:2px;
			border-bottom-left-radius:2px;
		}

		.w-box-header h1,
		.w-box-header h2,
		.w-box-header h3,
		.w-box-header h4,
		.w-box-header h5,
		.w-box-header .title{
			display:block;
			font-size:12px; line-height:20px;
			font-weight:600; color:#4F575A;
			text-transform:uppercase;
			-webkit-font-smoothing:antialiased;
			margin:0;
		}

	/* /.w-box-header */

	/* .w-box-footer */

		.w-box-footer{
			position:relative;
			display:block;
			padding:12px 15px;
			border-top:1px solid #e1e2e3;
			background:#f6f7f8;
			font-weight:normal; color:#4F575A;
			-webkit-border-bottom-right-radius:2px;
			-webkit-border-bottom-left-radius:2px;
			-moz-border-radius-bottomright:2px;
			-moz-border-radius-bottomleft:2px;
			border-bottom-right-radius:2px;
			border-bottom-left-radius:2px;
		}

		.w-box-footer h1,
		.w-box-footer h2,
		.w-box-footer h3,
		.w-box-footer h4,
		.w-box-footer h5,
		.w-box-footer .title{
			display:block;
			font-size:12px; line-height:20px;
			font-weight:700; color:#4F575A;
			text-transform:uppercase;
			-webkit-font-smoothing:antialiased;
		}

	/* /.w-box-footer */

	/* .w-box-content */

		.w-box-content{
			position:relative;
			padding:15px;
			color:#4F575A;
			border-top:1px solid #dfe0e4;
		}

		.w-box-header.hidden-element + .w-box-content{border-top:none;}
		.w-box-header.hidden-element + .w-box-footer{border-top:none;}
		.w-box-content.hidden-element + .w-box-footer{border-top:none;}

	/* /.w-box-content */

	/* .w-box-nav */

		.w-box-nav{
			position:relative;
		}

		.w-box-nav .nav-item{
			position:relative;
		}

		.w-box-nav .nav-item > a{
			position:relative;
			display:block;
			padding:15px;
			border-bottom:solid 1px #f5f5f5;
			font-size:14px; line-height:14px;
			font-weight:normal; color:#141823;
			text-decoration:none;
		}

		.w-box-nav .nav-item:last-child > a{border-bottom:none;}

		.w-box-nav .nav-item > a:hover{
			background:#f6f7f8;
			padding-left:13px;
			border-left:2px solid #597ba5;
			color:#141823;
			text-decoration:none;
		}

		.w-box-nav .nav-item ul .sub-nav-item{
			position:relative;
		}

		.w-box-nav .nav-item ul .sub-nav-item > a{
			position:relative;
			display:block;
			padding:7px 15px;
			padding-left:13px;
			color:#141823;
			text-decoration:none;
		}

		.w-box-nav .nav-item ul .sub-nav-item > a{padding-left:28px;}
		.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item > a{padding-left:43px;}
		.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item > a{padding-left:58px;}
		.w-box-nav .nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item ul .sub-nav-item > a{padding-left:73px;}

		/* .open/.active/:hover */

			.w-box-nav .nav-item.open{
				background:#f6f7f8;
				border-left:2px solid #597ba5;
				border-bottom:solid 1px #dfe0e4;
				padding-bottom:8px;
			}

			.w-box-nav .nav-item.active{
				background:#f6f7f8;
				border-left:2px solid #597ba5;
				padding-bottom:8px;
			}

			.w-box-nav .nav-item.open > a,
			.w-box-nav .nav-item.active > a{
				border-bottom:none;
				font-weight:600;
				padding-bottom:7px;
				padding-left:13px;
			}

			.w-box-nav .nav-item.active > a{font-weight:600;}

			.w-box-nav .nav-item.open > a:hover,
			.w-box-nav .nav-item.active > a{
				background:none;
				border-left:none;
				color:#597ba5;
				text-decoration:none;
			}

			.w-box-nav .nav-item.open ul .sub-nav-item.open > a,
			.w-box-nav .nav-item.open ul .sub-nav-item.active > a{font-weight:600;}

			.w-box-nav .nav-item.open ul .sub-nav-item > a:hover,
			.w-box-nav .nav-item.open ul .sub-nav-item.active > a{
				background:none;
				border-left:none;
				color:#597ba5;
				text-decoration:none;
			}

		/* /.open/.active/:hover */
		
		/* .loading-animation */

			.w-box-nav .nav-item .loading-animation{
				position:absolute; right:15px; top:12px;
				height:12px;
			}

			.w-box-nav .nav-item .loading-animation > span{
				display:inline-block; vertical-align:middle;
				width:12px; height:12px;
				background-image: url("./images/loading-gif.png");
				-webkit-animation: rotateSpinner 1.2s linear infinite;
				-moz-animation: rotateSpinner 1.2s linear infinite;
				animation: rotateSpinner 1.2s linear infinite;
			}

			@-webkit-keyframes rotateSpinner{
				0%{-webkit-transform:rotate(0deg);}
				100%{-webkit-transform:rotate(360deg);}
			}

			@-moz-keyframes rotateSpinner{
				0%{-moz-transform:rotate(0deg);}
				100%{-moz-transform:rotate(360deg);}
			}

			@-keyframes rotateSpinner{
				0%{transform:rotate(0deg);}
				100%{transform:rotate(360deg);}
			}
		
		/* /.loading-animation */

	/* /.w-box-nav */

/* /W-Box */





/* Navigation */

	/*

	ul.nav-bar > li > a{
		position:relative;
		display:block;
		padding:2px 12px;
		margin:-2px 0;
		border-left:1px solid #EEE;
		font-size:13px; line-height:20px;
		font-weight:400; color:#555;
	}

	ul.nav-bar > li:last-child > a{border-right:1px solid #EEE;}
	ul.nav-bar > li.active > a{font-weight:600;}

	ul.nav-bar > li > a::after{
		content:" "; color:transparent;
		display:none;
		position:absolute; bottom:-10px; left:0;
		width:100%; height:2px;
		background:#58789c;
		border-left:12px solid #FFF;
		border-right:12px solid #FFF;
	}

	.w-box-content ul.nav-bar > li > a::after{border-left:12px solid #FFF; border-right:12px solid #FFF;}
	.w-box-header ul.nav-bar > li > a::after,
	.w-box-footer ul.nav-bar > li > a::after{border-left:12px solid #f6f7f8; border-right:12px solid #f6f7f8;}

	ul.nav-bar > li.active > a::after{display:block;}

	ul.nav-bar > li:hover > a{background:#e9eaed; border-radius:2px; text-decoration:none;}
	ul.nav-bar > li:hover + li > a{border-left-color:#FFF;}

	.w-box-content ul.nav-bar > li:hover + li > a{border-left-color:#FFF;}
	.w-box-header ul.nav-bar > li:hover + li > a,
	.w-box-footer ul.nav-bar > li:hover + li > a{border-left-color:#f6f7f8;}

	*/

/* /Navigation */