@import 'variables';

html, body, input, textarea, h1, h2, h3, h4, h5, h6, p, span{
	font-family:$font-main;
	-webkit-font-smoothing:antialiased;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body{margin:0;}

h1, h2, h3, h4, h5, p{margin:0;}
p, span, input, textarea{-webkit-font-smoothing:antialiased;}
b, strong{font-weight:bold;}
i{font-style:italic;}

a{cursor:pointer; color:inherit; text-decoration:none}
a:active, a:hover{outline:0;}
a:hover{text-decoration:underline;}

ul, li{display:block; margin:0; padding:0;}
table{border-collapse:separate; border-spacing:0;}
td, th{padding:0;}
img{border:0;}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}

.clearfix:after{
	clear:both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{display:block;}

button,
input,
select,
textarea{color:inherit; font:inherit; margin:0; display:block;}

button{overflow:visible;}

button,
select{text-transform:none;}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance:button;
	display:block;
	cursor:pointer;
	background:none;
	padding:0; margin:0;
	border:none; outline:none;
	-webkit-box-sizing:initial;
	   -moz-box-sizing:initial;
	        box-sizing:initial;
}

button[disabled],
html input[disabled]{cursor:default;}

button::-moz-focus-inner,
input::-moz-focus-inner{
	border:none;
	padding:0;
}

input{line-height:normal;}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	padding:0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height:auto;
}

input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
	        box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}

textarea{overflow:auto; border:none; outline:none;}