@import 'variables';

/* Text */

	body{
		font-family:$font-main;
		font-size:14px; line-height:1;
		font-weight:400; color:$color-black;
	}

	h1, .title-lg{font-size:26px; line-height:26px; font-weight:normal;}
	h2, .title-md{font-size:20px; line-height:20px; font-weight:normal;}
	h3, .title-sm{font-size:16px; line-height:16px; font-weight:bold;}
	h4, .title-xs{font-size:14px; line-height:14px; font-weight:bold;}

	h1, .title-lg.marged{display:block; margin-bottom:18px;}
	h2, .title-md.marged{display:block; margin-bottom:14px;}
	h3, .title-sm.marged{display:block; margin-bottom:10px;}
	h4, .title-xs.marged{display:block; margin-bottom:8px;}

	h1, .title-lg,
	h2, .title-md,
	h3, .title-sm,
	h4, .title-xs{-webkit-font-smoothing:antialiased;}

	span h1, p h1, span .title-lg, p .title-lg,
	span h2, p h2, span .title-md, p .title-md,
	span h3, p h3, span .title-sm, p .title-sm,
	span h4, p h4, span .title-xs, p .title-xs{display:inline;}

	p{
		font-size:14px; line-height:1.2;
		font-weight:400; color:$color-black;
	}

	/* p + br,
	span + br{display:none} */

	a{color:$color-blue;}
	a:hover, a:focus{color:$color-blue; text-decoration:underline;}

	p.subtle,
	span.subtle,
	a.subtle{color:$color-strong-grey;}

	.text-ellipsis > *{display:block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.text-ellipsis.padding-left > *{padding-left:6px;}
	.text-ellipsis.padding-right > *{padding-right:6px;}

/* /Text */