/* T-Row */

	/* .t-row{position:relative; display:table; width:100%;}
	.t-row > .t-cell{position:relative; display:table-cell; vertical-align:top; padding-right:10px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
	.t-row > .t-cell:last-child{padding-right:0;}
	.t-row > .t-cell > .t-cell-frame{position:relative; width:100%; height:100%; max-width:100%;}

	.t-row > .t-cell.nowrap{white-space:nowrap; width:1px;}
	.t-row > .t-cell.max-width{width:100%;}
	.t-row > .t-cell.nowrap > *{white-space:normal;}
	.t-row > .t-cell.no-padding{padding-right:0px;}

	.t-row > .t-cell .text-ellipsis{position:relative;}
	.t-row > .t-cell .text-ellipsis::after{content:"."; color:transparent;}
	.t-row > .t-cell .text-ellipsis > *{position:absolute; width:100%; overflow-x:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.t-row > .t-cell .text-ellipsis.padding-left > *{padding-left:6px;}
	.t-row > .t-cell .text-ellipsis.padding-right > *{padding-right:6px;} */

/* /T-row */


/* Classes */
	
	.hidden-element{display:none !important;}
	.hidden-input{opacity:0.001 !important; width:0 !important; height:0 !important; position:absolute;}
	.nowrap{white-space:nowrap !important;}
	.normal-wrap{white-space:normal !important;}

	.align-left{text-align:left !important;}
	.align-center{text-align:center !important;}
	.align-right{text-align:right !important;}

	.align-top{vertical-align:top !important;}
	.align-middle{vertical-align:middle !important;}
	.align-bottom{vertical-align:bottom !important;}

	.no-padding{padding:0 !important;}
	.no-margin{margin:0 !important;}

	.margin-top{margin-top:20px !important;}
	.margin-bottom{margin-bottom:20px !important;}
	.margin-left{margin-left:20px !important;}
	.margin-right{margin-right:20px !important;}

	.error-message{color:#E74C3C !important;}
	.success-message{color:#87D37C !important;}

/* /Classes */


/* List */

	/* Horizontal List */

		.h-list{position:relative; display:block; font-size:0.01px; padding:0;}
		.h-list::after{content:" "; color:transparent; display:inline-block; vertical-align:middle; height:100%; width:0;}
		.h-list > li{position:relative; display:inline-block; vertical-align:middle; font-size:initial;}

		.h-list.marged-list{margin:-6px;}
		.h-list.marged-list > li{margin:6px;}

	/* /Horizontal List */

	/* Button List */

		.b-list{position:relative; display:block; font-size:0.01px; padding:0;}
		.b-list::after{content:" "; color:transparent; display:inline-block; vertical-align:middle; height:100%; width:0;}
		.b-list > li{position:relative; display:inline-block; vertical-align:middle; font-size:initial;}

		.b-list.marged-list{margin:-6px;}
		.b-list.marged-list > li{margin:6px;}

		.b-list.compact-list{margin-top:-4px; margin-bottom:-4px;}
		.b-list.compact-list.marged-list{margin-top:-10px; margin-bottom:-10px;}

	/* /Button List */

	/* Icon List */

		.i-list{position:relative; display:block; padding:0;}
		.i-list:before,
		.i-list:after{content:" "; display:table;}
		.i-list:after{clear:both;}
		.i-list > li{position:relative; display:block; min-height:1px; float:left;}

		.i-list.marged-list{margin-left:-6px; margin-right:-6px;}
		.i-list.marged-list > li{margin-left:6px; margin-right:6px;}

	/* /Icon List */

	/* Vertical List */

		.v-list{position:relative; display:block; padding:0;}
		.v-list > li{position:relative; display:block;}

		.v-list.marged-list{margin-top:-6px; margin-bottom:-6px;}
		.v-list.marged-list > li{margin-top:6px; margin-bottom:6px;}

		.v-list.dotted-list > li{display:list-item; margin-left:40px;}

	/* /Vertical List */

/* /List */