<!doctype html>
<html>

    <head>
    
        <title>Nexty</title>
        <!-- <meta name="description" content="Nexty" /> -->
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="image/png" rel="icon" href="<%= __resources %>/img/favicon.png">
        <meta name="viewport" content="initial-scale=1">


        <!-- * -->


        <!-- CSS : Nextrap -->
        <link type="text/css" rel="stylesheet" href="<%= __resources %>/css/vendors/nextrap.css" />

        <!-- CSS : Libraries -->
        <link type="text/css" rel="stylesheet" href="<%= __resources %>/css/vendors/font-awesome.css" />

        <!-- CSS : Style -->
        <link type="text/css" rel="stylesheet" href="<%= __resources %>/css/style.css" />


        <!-- * -->

        <script type="text/javascript" src="<%= __resources %>/js/vendors/jquery-2.1.3.min.js"></script>

        <script type="text/javascript">

            // Set config
            window.config = {
                links: {
                    root: "<%- __root %>",
                    public: "<%- __public %>",
                    platform: "<%- __root %>"
                }
            };

        </script>

        
    </head>
    
    <body>
        
        <div id="app"></div>
        <script type="text/javascript" src="<%= __bundles %>/platform.js"></script>
        
    </body>
    
</html>