@import '../variables';

/* AVATAR */

	.avatar{display:inline-block; vertical-align:middle; overflow:hidden; border-radius:3px; background-repeat:no-repeat;}
	div.avatar{vertical-align:middle;}
	span.avatar{vertical-align:text-top;}
	.avatar a{display:block; height:auto;}
	.avatar img{display:block; height:auto;}

	.avatar-xl{width:200px; height:200px; background-size:200px;}
	.avatar-xl a{width:200px; height:200px;}
	.avatar-xl img{width:200px;}

	.avatar-lg{width:150px; height:150px; background-size:150px;}
	.avatar-lg a{width:150px; height:150px;}
	.avatar-lg img{width:150px;}

	.avatar-md{width:100px; height:100px; background-size:100px;}
	.avatar-md a{width:100px; height:100px;}
	.avatar-md img{width:100px;}

	.avatar-sm{width:40px; height:40px; background-size:40px;}
	.avatar-sm a{width:40px; height:40px;}
	.avatar-sm img{width:40px;}

	.avatar-xs{width:32px; height:32px; background-size:32px;}
	.avatar-xs a{width:32px; height:32px;}
	.avatar-xs img{width:32px;}

	.avatar-icn{width:16px; height:16px; background-size:16px;}
	.avatar-icn a{width:16px; height:16px;}
	.avatar-icn img{width:16px;}

	.avatar{

		.background-img{
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
    		width:100%; height:100%;
		} 

		.multi-frame{

			height:100%;

			& > ul{

				height:100%;
				line-height:0;

				& > li{
					overflow:hidden;
					position:relative;
					width:50%; height:100%;
				}

				& > li > img,
				& > li > .background-img,
				& > li > .empty-area{
					position:relative; left:-50%;
				}

				& > li > .empty-area{
					left:0;
					width:100%; height:100%;
					background-color:#EEE;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center center;
				}

				&.area-2{

					& > li:first-child{ float:left; }
					& > li:last-child{ clear:none; }

					& > li:first-child:before{
						content:' '; color:transparent;
						position:absolute; top:0; right:0; z-index:2;
						display:block;
						width:100%; height:100%;
						border-right:1px solid #FFF;
					}

				}

				&.area-3{

					& > li:first-child{ float:left; }
					& > li:nth-child(n+2){ height:50%; clear:none; }
					& > li:last-child{ height:50%; clear:none; }

					& > li:first-child:before,
					& > li:nth-child(2):before,
					& > li:last-child:before{
						content:' '; color:transparent;
						position:absolute; top:0; left:0; z-index:2;
						display:block;
						width:100%; height:100%;
					}

					& > li:first-child:before{ border-right:1px solid #FFF; }
					& > li:nth-child(2):before{ border-bottom:1px solid #FFF; }

				}

				&.area-4{

					& > li{
						display:inline-block;
						height:50%;
					}

					& > li:first-child:before,
					& > li:nth-child(2):before,
					& > li:nth-child(3):before,
					& > li:last-child:before{
						content:' '; color:transparent;
						position:absolute; top:0; left:0; z-index:2;
						display:block;
						width:100%; height:100%;
					}

					& > li:first-child:before{ border-right:1px solid #FFF; border-bottom:1px solid #FFF; }
					& > li:nth-child(2):before{ border-bottom:1px solid #FFF; }
					& > li:nth-child(3):before{ border-right:1px solid #FFF; }

				}

			}

		}

	}

/* /AVATAR */