@import '../variables';
@import './icon';

/* BUTTON */

	.btn{

		position:relative;
		cursor:pointer;
		font-family:$font-main;
		font-size:14px; line-height:14px;
		font-weight:400; color:$color-black;
		user-select:none;

		&.disabled,
		&.read-only,
		&.loading{
			cursor:default;
		}

		&.btn-white,
		&.btn-blue,
		&.btn-link{

			display:inline-block;
			text-decoration:none;
			white-space:nowrap;

			&.small{
				font-size:12px; line-height:12px;
			}

			&.disabled,
			&.read-only,
			&.loading{
				cursor:default;
			}

		}

		&.btn-white,
		&.btn-blue{

			padding:7px 10px;
			border-radius:3px;

			&.small{
				padding:5px 7px;
				border-radius:2px;
			}

			&.btn-dropdown{

				padding-right:23px;

				&::after{
					margin:7px 10px 7px 0;
				}

				&.small{

					padding-right:20px;

					&::after{
						margin:4px 7px 4px 0;
					}

				}

			}

		}

		&.btn-white{

			background:#FFF;
			border:1px solid #D3D3D3;

			&:active{}

			&.btn-dropdown{

				&::after{
					content:" "; color:transparent;
					position:absolute; top:0; right:0; z-index:2;
					@extend .icn;
					@extend .icn.icn-arrow-down;
				}

			}

			&.disabled{

				color:$color-smooth-grey;
				background:#F6F6F6;

				&.btn-dropdown::after{
					opacity:0.4;
				}

			}

			&.loading{

				position:relative;
				cursor:default;

				*,
				&.btn-dropdown::after{
					visibility:hidden;
				}

				&::before{
					content:''; color:transparent;
					position:absolute; top:50%; left:50%;
					@extend .icn;
					@extend .icn.icn-loading;
					margin-top:-5px; margin-left:-8px;
					visibility:visible;
				}

			}

		}

		&.btn-blue{

			color:$color-white;
			background:#5F8BB8;

			&:active{
				opacity:0.9;
			}

			&.btn-dropdown{

				&::after{
					content:" "; color:transparent;
					position:absolute; top:0; right:0; z-index:2;
					@extend .icn;
					@extend .icn.icn-arrow-down-white;
				}

			}

			&.disabled{

				color:#D0DFF2;
				background:#7FA0C2;

				&.btn-dropdown::after{
					opacity:0.7;
				}

			}

			&.loading{

				position:relative;
				cursor:default;

				*,
				&.btn-dropdown::after{
					visibility:hidden;
				}

				&::before{
					content:''; color:transparent;
					position:absolute; top:50%; left:50%;
					@extend .icn;
					@extend .icn.icn-loading-white;
					margin-top:-5px; margin-left:-8px;
					visibility:visible;
				}

			}

		}

		&.btn-link{

			padding:9px 0;

			&.colored{
				color:$color-blue;
			}

			&:hover{
				text-decoration:underline;
			}

			&.small{
				padding:6px 0;
			}

			&.btn-dropdown{

				padding-right:13px;

				&::after{
					content:" "; color:transparent;
					position:absolute; top:0; right:0; z-index:2;
					margin:9px 0;
					@extend .icn;
					@extend .icn.icn-arrow-down;
				}

				&.small{

					&::after{
						margin:6px 0;
					}

				}

			}

			&.read-only{
				text-decoration:none;
			}

			&.disabled{

				color:$color-smooth-grey;
				text-decoration:none;

				&.btn-dropdown::after{
					opacity:0.4;
				}

			}

			&.loading{

				position:relative;
				border:1px solid #DDD;
				border-radius:2px;
				padding:2px 0;
				margin:5px 0;
				cursor:default;
				text-decoration:none;

				&.small{
					padding:2px 0;
					margin:3px 0;
				}

				*,
				&.btn-dropdown::after{
					visibility:hidden;
				}

				&::before{
					content:''; color:transparent;
					position:absolute; top:50%; left:50%;
					@extend .icn;
					@extend .icn.icn-loading;
					margin-top:-5px; margin-left:-8px;
					visibility:visible;
				}

			}

		}

		&.btn-blank{

			&:hover{
				text-decoration:underline;
			}

			&.btn-dropdown{

				padding-right:13px;

				&::after{
					content:" "; color:transparent;
					position:absolute; top:0; right:0; z-index:2;
					margin:0;
					@extend .icn;
					@extend .icn.icn-arrow-down;
				}

			}

			&.read-only{
				text-decoration:none;
			}

			&.disabled{

				color:$color-smooth-grey;
				text-decoration:none;

				&.btn-dropdown::after{
					opacity:0.4;
				}

			}

			&.loading{

				position:relative;
				border:1px solid #DDD;
				border-radius:2px;
				padding:2px 0;
				cursor:default;
				text-decoration:none;

				*,
				&.btn-dropdown::after{
					visibility:hidden;
				}

				&::before{
					content:''; color:transparent;
					position:absolute; top:50%; left:50%;
					@extend .icn;
					@extend .icn.icn-loading;
					margin-top:-5px; margin-left:-8px;
					visibility:visible;
				}

			}

		}

	}

	.btn-group{

		margin:-5px;

		.btn{
			display:inline-block;
			margin:5px;
		}

	}

	.btn-list{

		overflow:hidden;

		.btn-list-item{

			display:block;
			font-size:14px; line-height:20px;
			padding:7px 10px;
			text-decoration:none;
			color:$color-black;

			&:hover{
				background:#F7F7F7;
			}

			&:active{
				background:#F0F0F0;
			}

			&.active{
				background:#F3F9FF;
			}

			&.loading::after{
				content:''; color:transparent;
				position:absolute; top:50%; right:10px;
				@extend .icn;
				@extend .icn.icn-loading;
				margin-top:-5px;
			}

			&.readonly{

				cursor:default;

				&:hover{
					background:none;
				}

			}

		}

		&.separated-by-border{

			.btn-list-item{
				border-top:1px solid #EBEBEB;
			}

			.btn-list-item:first-child{
				border-top:none;
			}

		}

		&.small{

			.btn-list-item{
				padding:2px 10px;
			}

		}

	}

/* /BUTTON */