@import '../variables';

/* CONTEXTUAL-LAYER */

	.contextual-layer-group{
		position:absolute; left:0; top:0; z-index:200;
	}

	.contextual-layer-positioner{

		position:absolute;

		.contextual-layer{

			position:absolute;

			&.aboveleft{bottom:0; left:0;}
			&.aboveright{bottom:0; right:0;}
			&.abovecenter{

				bottom:0; left:-500px;
				width:1000px;
				text-align:center;

				& > div{
					position:relative;
					display:inline-block; vertical-align:bottom;
				}

			}

			&.belowleft{top:0; left:0;}
			&.belowright{top:0; right:0;}
			&.belowcenter{

				top:0; left:-500px;
				width:1000px;
				text-align:center;

				& > div{
					position:relative;
					display:inline-block; vertical-align:top;
				}

			}

			&.beforetop{right:0; top:0;}
			&.beforebottom{right:0; bottom:0;}
			&.beforemiddle{

				right:0; top:0;
				height:auto; width:0;
				white-space:nowrap;

				.contextual-layer-children{
					position:absolute; right:0; top:0;
					transform:translateY(-50%);
				}

			}

			&.aftertop{left:0; top:0;}
			&.afterbottom{left:0; bottom:0;}
			&.aftermiddle{

				left:0; top:0;
				height:auto; width:0;
				white-space:nowrap;

				.contextual-layer-children{
					position:absolute; left:0; top:0;
					transform:translateY(-50%);
				}

			}

		}

	}

	.contextual-layer-helper{
		position:absolute; left:0; top:0; z-index:99;
		width:100%; height:100%;
	}

/* /CONTEXTUAL-LAYER */