@import '../variables';

/* CONTROL-CHECKBOX */

	.form-control.form-checkbox{

		position:relative;
		width:auto; height:28px;
		cursor:pointer;
		user-select:none;

		& > .checkbox-icon{
			border:1px solid #DDD;
			border-radius:2px;
			background:#FFF;
		}

	}

/* /CONTROL-CHECKBOX */