@import '../variables';

/* CONTROL-FILE */

	.form-control.form-file{

		position:relative;

		.btn{
			padding:8px;
		}

	}

	.form-file-dropdown > .v-list{

		& > li.file-item{

			border-bottom:1px solid #EEE;

			.btn{

				display:block;
				text-decoration:none;
				text-align:left;
				padding:10px;

				&:hover{background:#F7F7F7}

			}

		}

		& > li.url-item{

			padding:10px;

			.form-control.form-text{
				margin-top:6px;
			}

		}

		& > li span.action{
			display:block;
			font-size:14px; line-height:20px;
			font-weight:500; color:#555;
		}

		& > li span.details{
			display:block;
			font-size:12px; line-height:18px;
			font-weight:400; color:#999;
			min-width:300px;
		}

	}

/* /CONTROL-FILE */