@import '../variables';

/* CONTEXTUAL-WINDOW */

	.contextual-window-helper{
		position:absolute; left:0; top:0; z-index:99;
		width:100%; height:100%;
	}

	.contextual-window-environment{

		position:fixed; left:0; top:0; z-index:300;
		width:100%; height:100%;
		background:rgba(0,0,0,0.7);
		text-align:center;
		overflow:scroll;

		&.light{
			background:rgba(255,255,255,0.7);
		}

		&.fade-transition-enter{

			transition:0.3s ease-out opacity;
			opacity:0;

			&.fade-transition-enter-active{
				opacity:1;
			}

		}

		&::before{
			content:"."; color:transparent;
			display:inline-block; vertical-align:middle;
			width:0; height:100%;
		}

		.contextual-window{

			position:relative;
			display:inline-block; vertical-align:middle;
			text-align:left;
			margin:50px 0;

		}

		&.max-height .contextual-window{
			height:70%; min-height:200px; max-height:540px;
			margin:0;
		}

	}

	@media (max-height: 400px) {

		.contextual-window-environment.max-height .contextual-window{
			height:60%;
		}

	}

/* /CONTEXTUAL-WINDOW */