@import '../variables';
@import './icon';

/* CONTROL-SHARE */

	.form-control.form-share{

	}

	.form-share-dropdown{

		width:200px;
		padding:6px 0;

		.btn.btn-list-item{

			padding:6px 10px;
			line-height:14px;

			&.btn-share-workspace::before{
				content:''; color:transparent;
				@extend .icn;
				@extend .icn.icn-share-button-workspace;
				width:18px;
				margin-right:8px;
			}

			&.btn-share-owner::before{
				content:''; color:transparent;
				@extend .icn;
				@extend .icn.icn-share-button-owner;
				width:18px;
				margin-right:8px;
			}

			&.btn-share-custom::before{
				content:''; color:transparent;
				@extend .icn;
				@extend .icn.icn-share-button-custom;
				width:18px;
				margin-right:8px;
			}

			&.selected::after{
				content:''; color:transparent;
				position:absolute; top:0; right:0;
				height:100%;
				@extend .icn;
				@extend .icn.icn-validate;
				margin-right:10px;
			}

		}

		.list-children{

			position:relative;

			& > .btn-list-item{

				position:relative;
				padding-left:36px;

				.sub-structure{

					position:absolute; top:0; left:0;
					display:block;
					width:10px; height:100%;
					margin-left:19px;

					&::before{
						content:" "; color:transparent;
						position:absolute; top:0; left:0;
						display:block;
						width:1px; height:100%;
						background:#DDD;
					}

					&::after{
						content:" "; color:transparent;
						position:absolute; top:50%; left:0;
						display:block;
						width:10px; height:1px;
						background:#DDD;
					}

				}

				&:first-child{

					.sub-structure{

						&::before{
							top:auto; bottom:0;
							height:85%;
						}

					}

				}

				&:last-child{

					.sub-structure{

						&::before{
							height:50%;
						}

					}

				}

			}

		}

	}

	.form-share-modal{

		position:relative;
		width:400px;

		.header{

			padding-top:30px; padding-bottom:30px;
			text-align:center;

			.title{
				display:block;
				font-size:16px; line-height:16px;
				font-weight:500;
				text-transform:uppercase;
				margin-bottom:30px;
			}

			.details{
				display:inline-block;
				width:370px;
				line-height:22px;
			}

		}

		.content{

			.section{

				padding:0 15px;

				.title{
					display:block;
					font-weight:500;
					padding-bottom:20px;
				}

				.light{
					color:#999;
				}

				.section-list{

					padding-bottom:10px;

					& > .section-list-item{
						padding-bottom:8px;
					}

				}

				&.section-allow{
					padding-bottom:30px;
				}

			}

		}

		.footer{
			text-align:center;
			padding-top:30px; padding-bottom:15px;
		}

	}

/* /CONTROL-SHARE */