@import '../variables';

/* CONTROL-PHOTO */

	.form-control.form-photo{

		position:relative;

	}

	.form-photo-dropdown{
		
		width:300px;
		text-align:left;

		span.action{
			display:block;
			color:#555;
		}

		span.action-details{
			display:block;
			color:#999;
		}

		.url-input-view{
			padding:10px;
		}

		.loading-view{

			padding:10px;

			span{
				line-height:18px;
			}

			.progress-bar{
				
				display:block;
				width:100%; height:5px;
				border-radius:5px;
				overflow:hidden;
				background:#DFE0E4;
				margin-top:8px;

				.progress-content{
					display:block;
					width:0; height:5px;
					border-radius:5px;
					overflow:hidden;
					background:$color-blue;
				}

			}

		}

	}

/* /CONTROL-PHOTO */