@import '../variables';

/* CONTROL-RADIO */

	.form-control.form-radio{

		position:relative;
		width:auto; height:28px;
		padding:7px 0;
		cursor:pointer;
		white-space:nowrap;

		& > .radio-icon{
			position:relative;
			display:inline-block; vertical-align:top;
			width:14px; height:14px;
			border:1px solid #DDD;
			border-radius:10px;
			background:#FFF;
		}

		&:active > .radio-icon{
			border:1px solid #DDD;
			box-shadow:inset 0 0 0 2px #FFF;
			background:#F2F2F2;
		}

		&.checked > .radio-icon{

			border:1px solid #DDD;
			box-shadow:inset 0 0 0 2px #FFF;
			background:#597BA5;

			&:active > .radio-icon{
				border:1px solid #DDD;
				box-shadow:inset 0 0 0 2px #FFF;
				background:#4f6a8a;
			}

		}

		& > .radio-label{
			position:relative;
			display:inline-block; vertical-align:top;
			padding-left:5px;
			line-height:1;
		}

		&.star-radio{

			& > .radio-icon{
				position:relative;
				display:inline-block; vertical-align:top;
				width:14px; height:14px;
				border-radius:0;
				border:none;
				box-shadow:none;
				background:url('../img/radio-star-icon.png') top center no-repeat;
				background-size:14px auto;
			}

			&:active > .radio-icon{
				border:none;
				box-shadow:none;
				background:url('../img/radio-star-icon-active.png') top center no-repeat;
				background-size:14px auto;
			}

			&.checked{

				& > .radio-icon{
					border:none;
					box-shadow:none;
					background:url('../img/radio-star-icon-checked.png') top center no-repeat;
					background-size:14px auto;
				}

				&:active > .radio-icon{
					border:none;
					box-shadow:none;
					background:url('../img/radio-star-icon-checked-active.png') top center no-repeat;
					background-size:14px auto;
				}

			}

		}

	}

/* /CONTROL-RADIO */