@import '../variables';

/* CONTROL-AUTOCOMPLETE */

	.form-control.form-autocomplete-tag{

		position:relative;
		padding:6px 8px;
		width:100%;
		border:1px solid #CCC;
		border-radius:2px;
		background:#FFF;
		cursor:text;
		font-size:14px; line-height:20px;
		overflow:hidden;

		&.focus{
			border-color:#999;
		}

		&.read-only{
			color:$color-smooth-grey;
			border-color:#CCC;
			background:#F6F6F6;
			cursor:default;
		}

		&.transparent{
			border:none;
			padding:6px 0;
			background:none;
		}

		.input-frame{

			min-height:56px; max-height:124px;
			margin-bottom:-30px;
			padding-bottom:14px;
			overflow-x:scroll;

			&::-webkit-scrollbar,
			&::-webkit-scrollbar-track{
			    width: 0!important;
			    opacity: 0!important;
			}

			input{

				background:none;
				border:none;
				padding:0;
				width:100%;

				&:focus{
					outline:none;
					box-shadow:none;
				}

			}

			& > .h-list{

				margin:-3px;

				& > li{
					margin:3px;
				}

				& > li.tag-item{

					font-size:14px; line-height:18px;
					color:#FFF; font-weight:600;
					background:#C3C3C3;
					border-radius:3px;
					padding:4px 6px;
					cursor:pointer;

					.light{
				    	color:$color-strong-grey;
					}

					&:after{
						content:' '; color:transparent;
						display:inline-block; vertical-align:text-top;
						width:10px; height:18px;
						background:url('../img/close-white-icon.png') center center no-repeat;
						background-size:auto 10px;
						margin-left:6px;
					}

					.avatar{

						width:25px; height:25px;
						margin:-4px -6px; margin-right:2px;
						border-radius:3px 0 0 3px;

						img{ width:25px; }

					}

				}

				& > li.input-item{
					padding:3px 0;
					width:120px;
				}

			}

		}

		.contextual-layer-helper{
			visibility:hidden;
			padding:1px; margin:-1px;
			box-sizing:content-box;
		}

	}

	.form-autocomplete-tag-layer{

		position:relative;
	    margin-top:-1px;
	    background:#FFF;
	    border:1px solid #999;
	    border-radius:0 0 2px 2px;

	    .scroll-y{
	    	position:relative;
	    }

	    &.transparent{
	    	border-color:#E0E0E0;
	    }

	    .main-option-list + .additional-option-list{
	    	border-top:1px solid #CCC;
	    }

	    .btn-list-item{

	    	.avatar{
	    		margin:2px 0; margin-right:2px;
	    	}

	    	.light{
	    		color:$color-strong-grey;
	    	}

	    	.highlight{
	    		color:#547BA3;
	    	}

	    }

	}

/* /CONTROL-AUTOCOMPLETE */