@import '../variables';

/* CONTROL-TEXT */

	.form-control.form-text{

		input{

			padding:4px 8px;
			width:100%;
			border:1px solid #CCC;
			border-radius:2px;

			&:focus{
				box-shadow:none;
				border-color:#999;
				outline:none;
			}

		}

		textarea{
			resize:vertical;
			min-height:50px;
			width:100%;
		}

		.before-cell span{
			display:block;
			line-height:20px;
			padding:4px 8px;
		}

		&.read-only{

			input,
			textarea{
				box-shadow:none;
				color:#BBBBBB;
				border-color:#CCC;
				background:#F6F6F6;
				outline:none;
				cursor:default;
			}

		}

		&.transparent{

			input,
			textarea{
				border:none;
				padding:6px 0;
				background:none;
			}

			.before-cell span{
				padding:6px 0;
			}

		}

	}

/* /CONTROL-TEXT */