@import '../variables';

/* CONTROL-SELECT */

	.form-control.form-select{

		position:relative;
		width:100%;

		& > .btn{
			width:100%;
		}

		& > select{
			position:absolute; top:0; left:0; z-index:3;
			width:100%; height:100%;
			line-height:1;
			border:none;
			outline:none;
			background:none;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			opacity:0.01;
			cursor:pointer;
		}

		& > select:hover + .btn-link,
		& > select:hover + .btn-blank{
			text-decoration:underline;
		}

		&.compact{

			width:auto;
			display:inline-block;

			& > .btn{
				width:auto;
			}

		}

		&.disabled > select,
		&.loading > select{
			cursor:default;
			z-index:1;
		}

	}

/* /CONTROL-SELECT */