@import '../variables';

/* CONTROL-AUTOCOMPLETE */

	.form-control.form-autocomplete{

		position:relative;
		padding:4px 8px;
		width:100%;
		border:1px solid #CCC;
		border-radius:2px;
		background:#FFF;
		cursor:text;
		font-size:14px; line-height:20px;

		&.focus{
			border-color:#999;
		}

		&.read-only{
			color:$color-smooth-grey;
			border-color:#CCC;
			background:#F6F6F6;
			cursor:default;
		}

		&.transparent{
			border:none;
			padding:6px 0;
			background:none;
		}

		.input-frame{

			height:50px;
			margin-bottom:-30px;
			overflow-x:scroll;

			&::-webkit-scrollbar,
			&::-webkit-scrollbar-track{
			    width: 0!important;
			    opacity: 0!important;
			}

			input{

				background:none;
				border:none;
				padding:0;
				width:100%;

				&:focus{
					outline:none;
					box-shadow:none;
				}

			}

			& > .t-group > .t-cell{
				padding:0;
			}

			.t-cell.cell-input{
				min-width:1px;
			}

			.selected-option{

				padding-right:0px;

				.light{
			    	color:$color-strong-grey;
				}

			}

		}

		.contextual-layer-helper{
			visibility:hidden;
			padding:1px; margin:-1px;
			box-sizing:content-box;
		}

	}

	.form-autocomplete-layer{

		position:relative;
	    margin-top:-1px;
	    background:#FFF;
	    border:1px solid #999;
	    border-radius:0 0 2px 2px;

	    &.transparent{
	    	border-color:#E0E0E0;
	    }

	    .main-option-list + .additional-option-list{
	    	border-top:1px solid #E0E0E0;
	    }

	    .btn-list-item{

	    	.light{
	    		color:$color-strong-grey;
	    	}

	    	.highlight{
	    		color:#547BA3;
	    	}

	    }

	}

/* /CONTROL-AUTOCOMPLETE */