@import '../variables';

/* CONTROL-LABEL */

	.form-control.form-label{

		display:block;
		font-size:14px; line-height:14px;
		font-weight:400; color:$color-strong-grey;

		.form-control.form-select .btn{

			color:$color-strong-grey;
			padding-top:0; padding-bottom:0;

			&.btn-dropdown::after{
				opacity:0.6;
				margin:0;
			}

		}

	}

/* /CONTROL-LABEL */