@import '../variables';

/* CONTROL-GROUP */

	.form-control-group{

		& > .t-group > .t-cell{

			position:relative;
			padding:0 10px;

			&::after{
				content:" "; color:transparent;
				position:absolute; right:0; bottom:0;
				display:block;
				width:1px; height:24px;
				background:#DDD;
			}

			&:first-child{padding-left:0;}
			&:last-child{padding-right:0;}
			&:last-child::after{display:none;}

		}

		& + .form-control-group{
			border-top:1px solid #DDD;
		}

	}

/* /CONTROL-GROUP */