@import '../variables';

/* CONTROL-DATE */

	.form-control.form-date{

		position:relative;

		& > .btn{
			width:100%;
		}

		&.compact{

			width:auto;
			display:inline-block;

			& > .btn{
				width:auto;
			}

		}

		&.disabled > select{
			cursor:default;
			z-index:1;
		}

	}

	.form-date-dropdown .date-picker{

		width:210px;

		.date-picker-header{

			position:relative;
			text-align:center;

			span{
				font-size:14px; line-height:20px;
				padding:0 2px;
			}

			.date-picker-title{
				padding:10px 0;
			}

			.date-picker-prev,
			.date-picker-next{

				position:absolute; top:0;

				.btn-icon{

					display:block;
					width:38px; height:40px;
					background-repeat:no-repeat;
					background-position:center center;
					background-size:auto 10px;

					&.disabled{
						cursor:default;
					}

				}

			}

			.date-picker-prev{left:0;}
			.date-picker-prev .btn-icon{background-image:url('../img/arrow-prev-icon.png');}
			.date-picker-prev .btn-icon.disabled{background-image:url('../img/arrow-prev-icon-light.png');}
			.date-picker-next{right:0;}
			.date-picker-next .btn-icon{background-image:url('../img/arrow-next-icon.png');}
			.date-picker-next .btn-icon.disabled{background-image:url('../img/arrow-next-icon-light.png');}
			
		}

		.date-picker-subheader{

			position:relative;

			span{
				display:block;
				font-size:14px; line-height:14px;
				font-style:italic;
				padding:2px 0;
			}

			.date-picker-days{

				display:table;
				table-layout:fixed;
				width:100%;

				.date-picker-day{
					display:table-cell;
					width:14.285714%;
					text-align:center;
				}

			}
			
		}

		.date-picker-content{

			.date-picker-calendar{

				display:table;
				width:100%;
				table-layout:fixed;
				padding:10px 4px;

				.date-picker-calendar-line{
					display:table-row;
				}

				.date-picker-date{

					display:table-cell;
					width:14.285714%;
					text-align:center;

					span{
						display:inline-block;
						width:26px; height:20px;
						padding:3px 0; margin:2px 0;
						border-radius:20px;
						font-size:14px; line-height:14px;
						cursor:pointer;
					}

					&.prev-month span,
					&.next-month span{
						color:#AAA;
					}

					span:hover{
						background:#EEE;
					}

					&.current span{
						background:#FF6868;
						color:#FFF;
					}

					&.active span{
						background:#47B4FC;
						color:#FFF;
					}

					&.disabled span{
						background:#FFF;
						color:#EEE;
						cursor:default;
					}

				}

				.date-picker-date:first-child{border-left:none;}
				.date-picker-date:last-child{border-right:none;}

			}
			
		}

	}

	.form-date-dropdown .time-picker{

		width:190px;
		border-top:1px solid #DDDEDF;
		padding:10px 0; margin:0 10px;

		.t-cell.keyword,
		.t-cell.select{
			vertical-align:middle;
			padding-left:5px; padding-right:5px;
		}

		.t-cell.keyword:first-child,
		.t-cell.select:first-child{
			padding-left:0;
		}

		.t-cell.keyword:last-child,
		.t-cell.select:last-child{
			padding-right:0;
		}

	}

/* /CONTROL-DATE */