@import '../variables';

/* DROPDOWN */

	.dropdown{
		position:relative;
		background:#FFF;
		border:1px solid;
		border-radius:3px;
	}

	.dropdown:before,
	.dropdown:after{
		position:absolute;
		content:"."; color:transparent;
		display:block;
		width:0; height:0; 
	}

	/* below */

		.dropdown,
		.dropdown.belowleft,
		.dropdown.belowright,
		.dropdown.belowcenter{
			min-width:60px; min-height:30px;
			margin:0; margin-top:10px; margin-bottom:10px;
			box-shadow:0 0 20px rgba(182, 182, 182, 0.5);
			border-color:#DDDEDF #D4D4D7;
		}

		.dropdown.relative-to-arrow,
		.dropdown.belowleft.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:0; right:auto;
			margin-left:-21px;
		}

		.dropdown:before,
		.dropdown.belowleft:before{
			top:-7px; bottom:auto;
			left:13px; right:auto;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:none;
			border-bottom:7px solid #DDDEDF;
		}

		.dropdown:after,
		.dropdown.belowleft:after{
			top:-6px; bottom:auto;
			left:14px; right:auto;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #FFF;
		}

		.dropdown.belowright.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:auto; right:0;
			margin-right:-21px;
		}

		.dropdown.belowright:before{
			top:-7px; bottom:auto;
			left:auto; right:13px;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:none;
			border-bottom:7px solid #DDDEDF;
		}

		.dropdown.belowright:after{
			top:-6px; bottom:auto;
			left:auto; right:14px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #FFF;
		}

		.dropdown.belowcenter:before{
			top:-7px; bottom:auto;
			left:auto; left:50%;
			margin:0; margin-left:-7px;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:none;
			border-bottom:7px solid #DDDEDF;
		}

		.dropdown.belowcenter:after{
			top:-6px; bottom:auto;
			left:auto; left:50%;
			margin:0; margin-left:-6px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #FFF;
		}

	/* /below */

	/* above */

		.dropdown.aboveleft,
		.dropdown.aboveright,
		.dropdown.abovecenter{
			min-width:60px; min-height:30px;
			margin:0; margin-bottom:10px; margin-top:10px;
			box-shadow:0 0 20px rgba(182, 182, 182, 0.5);
			border-color:#DDDEDF #D4D4D7;
		}

		.dropdown.aboveleft.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:0; right:auto;
			margin-left:-21px;
		}

		.dropdown.aboveleft:before{
			top:auto; bottom:-7px;
			left:13px; right:auto;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:7px solid #DDDEDF;
			border-bottom:none;
		}

		.dropdown.aboveleft:after{
			top:auto; bottom:-6px;
			left:14px; right:auto;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #FFF;
			border-bottom:none;
		}

		.dropdown.aboveright.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:auto; right:0;
			margin-right:-21px;
		}

		.dropdown.aboveright:before{
			top:auto; bottom:-7px;
			left:auto; right:13px;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:7px solid #DDDEDF;
			border-bottom:none;
		}

		.dropdown.aboveright:after{
			top:auto; bottom:-6px;
			left:auto; right:14px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #FFF;
			border-bottom:none;
		}

		.dropdown.abovecenter:before{
			top:auto; bottom:-7px;
			left:50%; right:auto;
			margin:0; margin-left:-7px;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			border-top:7px solid #DDDEDF;
			border-bottom:none;
		}

		.dropdown.abovecenter:after{
			top:auto; bottom:-6px;
			left:50%; right:auto;
			margin:0; margin-left:-6px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #FFF;
			border-bottom:none;
		}

	/* /above */

	/* before */

		.dropdown.beforetop,
		.dropdown.beforebottom,
		.dropdown.beforemiddle{
			min-width:30px; min-height:40px;
			margin:0; margin-right:10px; margin-left:10px;
			box-shadow:-1.5px 0 5px rgba(0,0,0,0.2);
			border-color:#D4D4D7 #DDDEDF #D4D4D7 #C1C2C5;
		}

		.dropdown.beforetop.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:auto; right:0;
			margin-top:-21px;
		}

		.dropdown.beforetop:before{
			top:13px; bottom:auto;
			left:auto; right:-7px;
			border-left:7px solid #DDDEDF;
			border-right:none;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.beforetop:after{
			top:14px; bottom:auto;
			left:auto; right:-6px;
			border-left:6px solid #FFF;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.dropdown.beforebottom.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:auto; right:0;
			margin-bottom:-21px;
		}

		.dropdown.beforebottom:before{
			top:auto; bottom:13px;
			left:auto; right:-7px;
			border-left:7px solid #DDDEDF;
			border-right:none;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.beforebottom:after{
			top:auto; bottom:14px;
			left:auto; right:-6px;
			border-left:6px solid #FFF;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.dropdown.beforemiddle:before{
			top:50%; bottom:auto;
			left:auto; right:-7px;
			margin:0; margin-top:-7px;
			border-left:7px solid #DDDEDF;
			border-right:none;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.beforemiddle:after{
			top:50%; bottom:auto;
			left:auto; right:-6px;
			margin:0; margin-top:-6px;
			border-left:6px solid #FFF;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

	/* /before */

	/* after */

		.dropdown.aftertop,
		.dropdown.afterbottom,
		.dropdown.aftermiddle{
			min-width:30px; min-height:60px;
			margin:0; margin-left:10px; margin-right:10px;
			box-shadow:1.5px 0 5px rgba(0,0,0,0.2);
			border-color:#D4D4D7 #C1C2C5 #D4D4D7 #DDDEDF;
		}

		.dropdown.aftertop.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:0; right:auto;
			margin-top:-21px;
		}

		.dropdown.aftertop:before{
			top:13px; bottom:auto;
			left:-7px; right:auto;
			border-left:none;
			border-right:7px solid #DDDEDF;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.aftertop:after{
			top:14px; bottom:auto;
			left:-6px; right:auto;
			border-left:none;
			border-right:6px solid #FFF;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.dropdown.afterbottom.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:0; right:auto;
			margin-bottom:-21px;
		}

		.dropdown.afterbottom:before{
			top:auto; bottom:13px;
			left:-7px; right:auto;
			border-left:none;
			border-right:7px solid #DDDEDF;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.afterbottom:after{
			top:auto; bottom:14px;
			left:-6px; right:auto;
			border-left:none;
			border-right:6px solid #FFF;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.dropdown.aftermiddle:before{
			top:50%; bottom:auto;
			left:-7px; right:auto;
			margin:0; margin-top:-7px;
			border-left:none;
			border-right:7px solid #DDDEDF;
			border-top:7px solid transparent;
			border-bottom:7px solid transparent;
		}

		.dropdown.aftermiddle:after{
			top:50%; bottom:auto;
			left:-6px; right:auto;
			margin:0; margin-top:-6px;
			border-left:none;
			border-right:6px solid #FFF;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

	/* /after */

/* /DROPDOWN */