@import '../variables';

/* ICON */

	.icn{
		display:inline-block; vertical-align:bottom;
		background-repeat:no-repeat;
		background-position:center center;
	}

	.icn.icn-share-button-workspace{background-image:url('../img/share-button-workspace-icon.png'); background-size:auto 12px; width:18px; height:14px; margin-top:-1px;}
	.icn.icn-share-button-workspace-light{background-image:url('../img/share-button-workspace-icon.png'); background-size:auto 12px; width:18px; height:14px; margin-top:-1px; opacity:0.7;}
	.icn.icn-share-button-owner{background-image:url('../img/share-button-owner-icon.png'); background-size:auto 12px; width:12px; height:14px;}
	.icn.icn-share-button-owner-light{background-image:url('../img/share-button-owner-icon.png'); background-size:auto 12px; width:12px; height:14px; opacity:0.7;}
	.icn.icn-share-button-custom{background-image:url('../img/share-button-custom-icon.png'); background-size:auto 12px; width:12px; height:14px;}
	.icn.icn-share-button-custom-light{background-image:url('../img/share-button-custom-icon.png'); background-size:auto 12px; width:12px; height:14px; opacity:0.7;}
	.icn.icn-arrow-down{background-image:url('../img/arrow-down-icon.png'); background-size:auto 4px; width:7px; height:14px;}
	.icn.icn-arrow-down-white{background-image:url('../img/arrow-down-icon-white.png'); background-size:auto 4px; width:7px; height:14px;}
	.icn.icn-validate{background-image:url('../img/validate-icon.png'); background-size:auto 6px; width:8px; height:14px;}
	//.icn.icn-loading{background-image:url('../img/loader-icon.gif'); background-size:auto 14px; width:14px; height:14px;}
	//.icn.icn-loading-white{background-image:url('../img/loader-icon-white.gif'); background-size:auto 14px; width:14px; height:14px;}
	.icn.icn-loading{background-image:url('../img/loader-dots-icon-grey.gif'); background-size:16px auto; width:16px; height:8px;}
	.icn.icn-loading-white{background-image:url('../img/loader-dots-icon-white.gif'); background-size:16px auto; width:16px; height:8px;}
	.icn.icn-close{background-image:url('../img/close-icon.png'); background-size:auto 10px; width:10px; height:14px;}
	.icn.icn-close-white{background-image:url('../img/close-white-icon.png'); background-size:auto 10px; width:10px; height:14px;}
	.icn.icn-remove{background-image:url('../img/remove-icon.png'); background-size:auto 14px; width:14px; height:14px;}

/* /ICON */