@import '../variables';

/* LABEL */

	.label{
		display:inline-block; vertical-align:top;
		font-size:13px; line-height:20px;
		font-weight:600; color:#ffffff;
		text-decoration:none;
		border-radius:4px;
		padding:0 6px;
	}

	.label{background:#58789c;}
	.label.label-success{background:#5cb85c;}
	.label.label-primary{background:#428bca;}
	.label.label-danger{background:#d9534f;}
	.label.label-warning{background:#f0ad4e;}
	.label.label-alt-1{background:#24A5F6;}
	.label.label-alt-2{background:#4DBAC0;}
	.label.label-alt-3{background:#AC6AAD;}

/* /LABEL */