@import '../variables';

/* MODAL */

	.modal{

		position:relative;
		min-width:200px; min-height:100px;
		background:#FFF;
		border-radius:2px;
		box-shadow:0 2px 10px rgba(0,0,0,0.2);

		.modal-close{

			position:absolute; top:0; right:0; z-index:2;
			margin-right:15px; margin-top:13px;

			.btn-close{
				margin:-10px;
			}

			.icn-close{
				width:30px; height:34px;
			}

		}

		.modal-content{
			position:relative;
		}

	}

	.contextual-window-environment{

		&.light .modal{
			box-shadow:0 0 20px rgba(182,182,182,0.5);
		}

		&.max-height .modal{
			height:100%;
		}

		.modal .modal-content{
			height:100%;
		}

	}

/* /MODAL */