@import '../variables';

/* NAVIGATION */

	.v-nav-list{

		& > .v-nav-item{

			background:#FFF;
			border-top:1px solid #EBEBEB;
			padding:9px 15px;

			&:first-child{
				border-top:none;
			}

			&.active{
				background:#FFF;
				color:$color-blue;
				font-weight:600;
				border-left:3px solid $color-blue;
			}

			&:hover{
				background:#F7F7F7;
			}

			&:active{
				background:#F0F0F0;
			}

		}

	}

	.h-nav-list{

		padding:15px 0;

		& > li{
			
			border-left:1px solid #EEE;

			&:last-child{
				border-right:1px solid #EEE;
			}

			& > .h-nav-item{

				position:relative;
				display:block;
				padding:2px 20px;
				margin:-2px -1px;

				&,
				a{
					font-size:14px; line-height:20px;
					font-weight:400; color:#555;
					text-decoration:none;
				}

				a{
					display:block;
					padding:2px 20px;
					margin:-2px -20px;
				}

				&.active{

					&::after{
						content:"."; color:transparent;
						display:block;
						position:relative; bottom:-15px;
						width:auto; height:2px;
						margin-top:-6px;
						background:$color-blue;
					}

					a{
						display:block;
						font-weight:600;
						padding:2px 20px 4px;
						margin:-2px -20px -4px;
					}

				}

			}

			&:hover{
				
				border-left-color:transparent;
				border-right-color:transparent;

				& > .h-nav-item{
					background:#F7F7F7;
					border-radius:2px;
				}

				& + li{
					border-left-color:transparent;
				}

			}

		}

		&.dark{

			& > li{
			
				border-left-color:#DDD;

				&:last-child{
					border-right-color:#DDD;
				}

				&:hover{

					& > .h-nav-item{
						background:#E6E8EA;
					}

				}

			}

		}

		&.without-border{

			& > li:first-child{
				border-left-color:transparent;
			}

			& > li:last-child{
				border-right-color:transparent;
			}

		}

	}

/* /NAVIGATION */