@import '../variables';

/* TABLE */

	.table{

		width:100%; max-width:100%;
		background-color:$color-white;
		border-collapse:collapse;
		border-spacing:0;

		& > thead > tr > th,
		& > tbody > tr > th,
		& > tfoot > tr > th,
		& > thead > tr > td,
		& > tbody > tr > td,
		& > tfoot > tr > td {
			padding:8px 5px;
			vertical-align:top;
			border-top:1px solid #ddd;
			text-align:left;
		}

		&.table-align-middle > thead > tr > th,
		&.table-align-middle > tbody > tr > th,
		&.table-align-middle > tfoot > tr > th,
		&.table-align-middle > thead > tr > td,
		&.table-align-middle > tbody > tr > td,
		&.table-align-middle > tfoot > tr > td {
			vertical-align:middle;
		}

		&.table-align-bottom > thead > tr > th,
		&.table-align-bottom > tbody > tr > th,
		&.table-align-bottom > tfoot > tr > th,
		&.table-align-bottom > thead > tr > td,
		&.table-align-bottom > tbody > tr > td,
		&.table-align-bottom > tfoot > tr > td {
			vertical-align:bottom;
		}

		& > thead:first-child > tr:first-child > th,
		& > thead:first-child > tr:first-child > td {border-top:0;}

		& > thead > tr > th{vertical-align:bottom; border-bottom:2px solid #ddd; color:#444;}

		tr.array-deployment td:first-child{
			background-image: url("./images/array-deployment.png");
			background-position:top 12px right 8px;
			background-size:auto 14px;
			background-repeat:no-repeat;
			cursor:pointer;
		}

		tr.array-deployment.open td:first-child{background-image: url("./images/array-deployment-active.png");}
		tr.array-deployment-child td:first-child{padding-left:30px;}
		tr.array-deployment-child td{border-top:none;}

	}

/* /TABLE */