@import '../variables';

/* TOOLTIP */

	.tooltip{

		position:relative;
		background:#333;
		border-radius:3px;
		max-width:200px;
		padding:8px 10px;

		&:after{
			position:absolute;
			content:"."; color:transparent;
			display:block;
			width:0; height:0; 
		}

		span{
			display:block;
			color:#FFF;
			white-space:nowrap;
		}

	}

	/* below */

		.tooltip,
		.tooltip.belowleft,
		.tooltip.belowright,
		.tooltip.belowcenter{
			min-width:30px; min-height:30px;
			margin:0; margin-top:10px;
		}

		.tooltip.relative-to-arrow,
		.tooltip.belowleft.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:0; right:auto;
			margin-left:-21px;
		}

		.tooltip:after,
		.tooltip.belowleft:after{
			top:-6px; bottom:auto;
			left:14px; right:auto;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #333;
		}

		.tooltip.belowright.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:auto; right:0;
			margin-right:-21px;
		}

		.tooltip.belowright:after{
			top:-6px; bottom:auto;
			left:auto; right:14px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #333;
		}

		.tooltip.belowcenter:after{
			top:-6px; bottom:auto;
			left:auto; left:50%;
			margin:0; margin-left:-6px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:none;
			border-bottom:6px solid #333;
		}

	/* /below */

	/* above */

		.tooltip.aboveleft,
		.tooltip.aboveright,
		.tooltip.abovecenter{
			min-width:30px; min-height:30px;
			margin:0; margin-bottom:10px;
		}

		.tooltip.aboveleft.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:0; right:auto;
			margin-left:-21px;
		}

		.tooltip.aboveleft:after{
			top:auto; bottom:-6px;
			left:14px; right:auto;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #333;
			border-bottom:none;
		}

		.tooltip.aboveright.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:auto; right:0;
			margin-right:-21px;
		}

		.tooltip.aboveright:after{
			top:auto; bottom:-6px;
			left:auto; right:14px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #333;
			border-bottom:none;
		}

		.tooltip.abovecenter:after{
			top:auto; bottom:-6px;
			left:50%; right:auto;
			margin:0; margin-left:-6px;
			border-left:6px solid transparent;
			border-right:6px solid transparent;
			border-top:6px solid #333;
			border-bottom:none;
		}

	/* /above */

	/* before */

		.tooltip.beforetop,
		.tooltip.beforebottom,
		.tooltip.beforemiddle{
			min-width:30px; min-height:30px;
			margin:0; margin-right:10px;
		}

		.tooltip.beforetop.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:auto; right:0;
			margin-top:-21px;
		}

		.tooltip.beforetop:after{
			top:14px; bottom:auto;
			left:auto; right:-6px;
			border-left:6px solid #333;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.tooltip.beforebottom.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:auto; right:0;
			margin-bottom:-21px;
		}

		.tooltip.beforebottom:after{
			top:auto; bottom:14px;
			left:auto; right:-6px;
			border-left:6px solid #333;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.tooltip.beforemiddle:after{
			top:50%; bottom:auto;
			left:auto; right:-6px;
			margin:0; margin-top:-6px;
			border-left:6px solid #333;
			border-right:none;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

	/* /before */

	/* after */

		.tooltip.aftertop,
		.tooltip.afterbottom,
		.tooltip.aftermiddle{
			min-width:30px; min-height:30px;
			margin:0; margin-left:10px;
		}

		.tooltip.aftertop.relative-to-arrow{
			position:absolute;
			top:0; bottom:auto;
			left:0; right:auto;
			margin-top:-21px;
		}

		.tooltip.aftertop:after{
			top:14px; bottom:auto;
			left:-6px; right:auto;
			border-left:none;
			border-right:6px solid #333;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.tooltip.afterbottom.relative-to-arrow{
			position:absolute;
			top:auto; bottom:0;
			left:0; right:auto;
			margin-bottom:-21px;
		}

		.tooltip.afterbottom:after{
			top:auto; bottom:14px;
			left:-6px; right:auto;
			border-left:none;
			border-right:6px solid #333;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

		.tooltip.aftermiddle:after{
			top:50%; bottom:auto;
			left:-6px; right:auto;
			margin:0; margin-top:-6px;
			border-left:none;
			border-right:6px solid #333;
			border-top:6px solid transparent;
			border-bottom:6px solid transparent;
		}

	/* /after */

/* /TOOLTIP */